workflows/pinterest-keyword-rank-tracker/workflow.json
{
  "name": "Track Pinterest Keyword Rankings Weekly with Apify and Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "51000000-0000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "51000000-0000-0000-4000-8000-000000000002",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1760,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "pinterest-queries",
              "name": "queries",
              "value": "small balcony garden ideas, balcony vegetable garden, vertical garden for balcony, apartment herb garden, small patio garden ideas",
              "type": "string"
            },
            {
              "id": "pinterest-locale",
              "name": "locale",
              "value": "en-US",
              "type": "string"
            },
            {
              "id": "pinterest-country",
              "name": "country",
              "value": "US",
              "type": "string"
            },
            {
              "id": "pinterest-limit",
              "name": "maxResultsPerQuery",
              "value": 10,
              "type": "number"
            },
            {
              "id": "pinterest-details",
              "name": "includePinDetails",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "51000000-0000-0000-4000-8000-000000000003",
      "name": "1. Set Your Pinterest Searches",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json;\nif (!input) throw new Error('Configure 1. Set Your Pinterest Searches.');\nconst queries = String(input.queries || '').split(/[\\n,]+/).map((value) => value.trim()).filter(Boolean);\nif (queries.length < 1 || queries.length > 10) throw new Error('Configure between one and ten Pinterest searches, separated by commas or new lines.');\nif (new Set(queries.map((query) => query.toLowerCase())).size !== queries.length) throw new Error('Pinterest searches must be unique.');\nif (queries.some((query) => query.length < 2 || query.length > 150)) throw new Error('Each Pinterest search must contain 2 to 150 characters.');\nconst maxResultsPerQuery = Math.max(5, Math.min(Number(input.maxResultsPerQuery) || 10, 50));\nreturn [{ json: {\n  config: { queries, maxResultsPerQuery },\n  actorInput: {\n    queries,\n    maxResultsPerQuery,\n    includePinDetails: Boolean(input.includePinDetails),\n    locale: String(input.locale || 'en-US').trim(),\n    country: String(input.country || 'US').trim()\n  }\n} }];"
      },
      "id": "51000000-0000-0000-4000-8000-000000000004",
      "name": "Build FetchCat Search Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/FtsA7YTDVGAJ83XiS/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Encoding",
              "value": "identity"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clean",
              "value": "true"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "timeout",
              "value": "300"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.actorInput }}",
        "options": {
          "timeout": 310000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "51000000-0000-0000-4000-8000-000000000005",
      "name": "2. Search Pinterest with FetchCat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Build FetchCat Search Input').first().json.config;\nconst payload = $input.all().flatMap((item) => {\n  const value = item.json?.data ?? item.json;\n  return Array.isArray(value) ? value : [value];\n});\nconst snapshotAt = new Date().toISOString();\nconst snapshotDate = new Date().toLocaleDateString('en-CA', { timeZone: 'Europe/Lisbon' });\nconst unique = new Map();\nfor (const pin of payload) {\n  const pinId = String(pin.pinId || '').trim();\n  const query = String(pin.query || '').trim();\n  const pinUrl = String(pin.pinUrl || '').trim();\n  const position = Number(pin.position);\n  if (!pinId || !query || !/^https:\\/\\/(?:[a-z]+\\.)?pinterest\\.[^/]+\\/pin\\//i.test(pinUrl) || !Number.isFinite(position) || position < 1) continue;\n  const key = query.toLowerCase() + '|' + pinId;\n  if (unique.has(key)) continue;\n  const rawTitle = String(pin.title || '').trim();\n  const description = String(pin.description || '').trim();\n  unique.set(key, {\n    snapshotDate,\n    snapshotAt,\n    query,\n    pinId,\n    position,\n    title: (!rawTitle || ['pin', 'pinterest'].includes(rawTitle.toLowerCase()) ? description : rawTitle).slice(0, 220) || 'Untitled Pinterest pin',\n    pinUrl,\n    imageUrl: String(pin.imageUrl || pin.thumbnailUrl || '').trim(),\n    creatorName: String(pin.creatorName || pin.creatorUsername || '').trim(),\n    domain: String(pin.domain || '').trim(),\n    saveCount: pin.saveCount !== null && pin.saveCount !== undefined && pin.saveCount !== '' && Number.isFinite(Number(pin.saveCount)) ? Number(pin.saveCount) : null,\n    repinCount: pin.repinCount !== null && pin.repinCount !== undefined && pin.repinCount !== '' && Number.isFinite(Number(pin.repinCount)) ? Number(pin.repinCount) : null\n  });\n}\nconst rankings = [...unique.values()].sort((a, b) => a.query.localeCompare(b.query) || a.position - b.position);\nconst returnedQueries = new Set(rankings.map((row) => row.query.toLowerCase()));\nconst emptyQueries = config.queries.filter((query) => !returnedQueries.has(query.toLowerCase()));\nif (emptyQueries.length) throw new Error('Pinterest returned no usable pins for: ' + emptyQueries.join(', ') + '. Refine those searches and retry.');\nreturn rankings.map((json) => ({ json }));"
      },
      "id": "51000000-0000-0000-4000-8000-000000000009",
      "name": "Normalize Current Rankings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "0000000000000000000000000000000000000000000"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "0",
          "cachedResultName": "Pinterest Search"
        },
        "options": {}
      },
      "id": "51000000-0000-0000-4000-8000-000000000010",
      "name": "Read Earlier Rankings from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        0
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const current = $('Normalize Current Rankings').all().map((item) => item.json);\nif (current.length === 0) return [];\nconst currentDate = current[0].snapshotDate;\nconst querySet = new Set(current.map((row) => row.query.toLowerCase()));\nconst fromSheetsDate = (value) => {\n  if (typeof value === 'number' && Number.isFinite(value)) return new Date((value - 25569) * 86400000).toISOString().slice(0, 10);\n  const parsed = new Date(value);\n  return Number.isFinite(parsed.getTime()) ? parsed.toISOString().slice(0, 10) : '';\n};\nconst historical = $input.all().map((item) => item.json).map((row) => ({\n  snapshotDate: fromSheetsDate(row['Snapshot at']),\n  query: String(row.Query || '').trim(),\n  pinId: String(row['Pinterest pin ID'] || '').trim(),\n  position: Number(row.Position),\n  title: String(row.Title || '').trim(),\n  creatorName: String(row.Creator || '').trim(),\n  domain: String(row.Domain || '').trim()\n})).filter((row) => row.snapshotDate && row.snapshotDate < currentDate && row.query && row.pinId && querySet.has(row.query.toLowerCase()));\nconst latestDateByQuery = new Map();\nfor (const row of historical) {\n  const query = row.query.toLowerCase();\n  if (!latestDateByQuery.has(query) || row.snapshotDate > latestDateByQuery.get(query)) latestDateByQuery.set(query, row.snapshotDate);\n}\nconst previousByKey = new Map();\nfor (const row of historical) {\n  const query = row.query.toLowerCase();\n  if (row.snapshotDate === latestDateByQuery.get(query) && Number.isFinite(row.position) && row.position > 0) previousByKey.set(query + '|' + row.pinId, row);\n}\nconst observedDatesByKey = new Map();\nfor (const row of historical) {\n  if (!Number.isFinite(row.position) || row.position < 1) continue;\n  const key = row.query.toLowerCase() + '|' + row.pinId;\n  if (!observedDatesByKey.has(key)) observedDatesByKey.set(key, new Set());\n  observedDatesByKey.get(key).add(row.snapshotDate);\n}\nconst currentKeys = new Set();\nconst counts = { firstSnapshot: 0, new: 0, movedUp: 0, movedDown: 0, unchanged: 0, noLongerVisible: 0 };\nconst sheetsEpochOffset = 25569;\nconst snapshotSerial = new Date(current[0].snapshotAt).getTime() / 86400000 + sheetsEpochOffset;\nconst escapeFormula = (value) => String(value || '').replace(/\"/g, '\"\"');\nconst rows = current.map((pin) => {\n  const key = pin.query.toLowerCase() + '|' + pin.pinId;\n  currentKeys.add(key);\n  const previous = previousByKey.get(key);\n  const hasPreviousSnapshot = latestDateByQuery.has(pin.query.toLowerCase());\n  const movement = previous ? previous.position - pin.position : null;\n  const status = !hasPreviousSnapshot ? 'First snapshot' : !previous ? 'New in search results' : movement > 0 ? 'Moved up' : movement < 0 ? 'Moved down' : 'Unchanged';\n  if (status === 'First snapshot') counts.firstSnapshot += 1;\n  else if (status === 'New in search results') counts.new += 1;\n  else if (status === 'Moved up') counts.movedUp += 1;\n  else if (status === 'Moved down') counts.movedDown += 1;\n  else counts.unchanged += 1;\n  return {\n    snapshotAt: snapshotSerial,\n    query: pin.query,\n    position: pin.position,\n    previousPosition: previous?.position ?? null,\n    movement,\n    status,\n    pinLink: '=HYPERLINK(\"' + escapeFormula(pin.pinUrl) + '\",\"View pin\")',\n    title: pin.title,\n    creator: pin.creatorName,\n    domain: pin.domain,\n    imageLink: pin.imageUrl ? '=HYPERLINK(\"' + escapeFormula(pin.imageUrl) + '\",\"View image\")' : '',\n    saves: pin.saveCount,\n    repins: pin.repinCount,\n    pinId: pin.pinId,\n    snapshotKey: currentDate + '|' + key\n  };\n});\nfor (const [key, previous] of previousByKey) {\n  if (currentKeys.has(key)) continue;\n  counts.noLongerVisible += 1;\n  rows.push({\n    snapshotAt: snapshotSerial,\n    query: previous.query,\n    position: null,\n    previousPosition: previous.position,\n    movement: null,\n    status: 'No longer visible',\n    pinLink: '',\n    title: previous.title,\n    creator: previous.creatorName,\n    domain: previous.domain,\n    imageLink: '',\n    saves: null,\n    repins: null,\n    pinId: previous.pinId,\n    snapshotKey: currentDate + '|' + key\n  });\n}\nrows.sort((a, b) => a.query.localeCompare(b.query) || (Number(a.position) || 999999) - (Number(b.position) || 999999));\nreturn [{ json: { snapshotDate: currentDate, trackedQueries: [...querySet], previousSnapshotDates: [...new Set(latestDateByQuery.values())].sort(), counts, rows } }];"
      },
      "id": "51000000-0000-0000-4000-8000-000000000011",
      "name": "3. Compare Weekly Rankings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.rows.map((row) => ({ json: row }));"
      },
      "id": "51000000-0000-0000-4000-8000-000000000012",
      "name": "Prepare Ranking Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "0000000000000000000000000000000000000000000"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "0",
          "cachedResultName": "Pinterest Search"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Snapshot key"
          ],
          "value": {
            "Snapshot at": "={{ $json.snapshotAt }}",
            "Query": "={{ $json.query }}",
            "Position": "={{ $json.position }}",
            "Previous position": "={{ $json.previousPosition }}",
            "Movement": "={{ $json.movement }}",
            "Status": "={{ $json.status }}",
            "Pin": "={{ $json.pinLink }}",
            "Title": "={{ $json.title }}",
            "Creator": "={{ $json.creator }}",
            "Domain": "={{ $json.domain }}",
            "Image": "={{ $json.imageLink }}",
            "Saves": "={{ $json.saves }}",
            "Repins": "={{ $json.repins }}",
            "Pinterest pin ID": "={{ $json.pinId }}",
            "Snapshot key": "={{ $json.snapshotKey }}"
          },
          "schema": [
            {
              "id": "Snapshot at",
              "displayName": "Snapshot at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous position",
              "displayName": "Previous position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Movement",
              "displayName": "Movement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pin",
              "displayName": "Pin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creator",
              "displayName": "Creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saves",
              "displayName": "Saves",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Repins",
              "displayName": "Repins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pinterest pin ID",
              "displayName": "Pinterest pin ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snapshot key",
              "displayName": "Snapshot key",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "51000000-0000-0000-4000-8000-000000000013",
      "name": "4. Save Rankings to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $('3. Compare Weekly Rankings').first().json;\nconst counts = result.counts;\nconst hasHistory = result.previousSnapshotDates.length > 0;\nreturn [{ json: {\n  status: hasHistory ? 'Pinterest rankings updated' : 'Pinterest ranking baseline saved',\n  snapshotDate: result.snapshotDate,\n  trackedQueries: result.trackedQueries.length,\n  rowsSaved: result.rows.length,\n  changes: {\n    firstSnapshot: counts.firstSnapshot,\n    newInSearchResults: counts.new,\n    movedUp: counts.movedUp,\n    movedDown: counts.movedDown,\n    unchanged: counts.unchanged,\n    noLongerVisible: counts.noLongerVisible\n  },\n  note: 'Rank changes describe these Pinterest search results only; they are not search-volume or demand trends.'\n} }];"
      },
      "id": "51000000-0000-0000-4000-8000-000000000014",
      "name": "Weekly Ranking Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "width": 400,
        "height": 960,
        "content": "## Track Pinterest Keyword Rankings Weekly\n\n### How it works\n\n1. Runs manually or every Monday morning.\n2. Searches Pinterest with `fetch_cat/pinterest-search-scraper` for one to ten configured keywords.\n3. Reads earlier snapshots directly from Google Sheets.\n4. Labels every current result as first snapshot, new, moved up, moved down, or unchanged.\n5. Adds pins that disappeared from the latest results as no longer visible.\n6. Upserts the dated snapshot by Snapshot key, making same-day reruns safe.\n\n### Setup\n\n- [ ] Edit the searches, locale, country, result limit, and optional detail enrichment in **1. Set Your Pinterest Searches**.\n- [ ] Create HTTP Header Auth with `Authorization: Bearer YOUR_APIFY_TOKEN` and select it in **2. Search Pinterest with FetchCat**.\n- [ ] Create a Google Sheet tab named `Pinterest Search` with the documented fifteen headers; freeze row one and format `Snapshot at` as Date time.\n- [ ] Select the same spreadsheet and tab in both Google Sheets nodes.\n- [ ] Run manually once to save a baseline, then activate the weekly schedule.\n\n### Interpretation\n\nPositive Movement means a pin moved closer to rank one. Rank changes describe only the supplied Pinterest search results. They do not prove search volume, popularity, clicks, sales, or demand. Missing saves and repins remain blank.",
        "color": 1
      },
      "id": "51000000-0000-0000-4000-8000-000000000021",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        -320
      ]
    },
    {
      "parameters": {
        "width": 576,
        "height": 432,
        "content": "## Start and configure\n\nRuns manually or weekly. Edit one clearly numbered node with one to ten searches, locale, country, result limit, and optional pin-detail enrichment.",
        "color": 7
      },
      "id": "51000000-0000-0000-4000-8000-000000000022",
      "name": "Start and configure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        -256
      ]
    },
    {
      "parameters": {
        "width": 432,
        "height": 304,
        "content": "## Validate and collect\n\nAccepts comma-separated or line-separated searches, rejects duplicates, caps costs, and waits up to five minutes for `fetch_cat/pinterest-search-scraper` to return clean dataset items.",
        "color": 7
      },
      "id": "51000000-0000-0000-4000-8000-000000000023",
      "name": "Validate and collect",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -128
      ]
    },
    {
      "parameters": {
        "width": 432,
        "height": 304,
        "content": "## Normalize and load history\n\nValidates pin IDs, URLs, queries, and positions, then reads the same Google Sheet for earlier dated rankings. No separate database is required.",
        "color": 7
      },
      "id": "51000000-0000-0000-4000-8000-000000000024",
      "name": "Normalize and load history",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        -128
      ]
    },
    {
      "parameters": {
        "width": 432,
        "height": 304,
        "content": "## Compare weekly rankings\n\nCompares each query with its latest earlier snapshot and prepares readable statuses, numeric movement, links, metadata, and disappeared results.",
        "color": 7
      },
      "id": "51000000-0000-0000-4000-8000-000000000025",
      "name": "Compare weekly rankings",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -128
      ]
    },
    {
      "parameters": {
        "width": 432,
        "height": 304,
        "content": "## Save and summarize\n\nUpserts rows by dated Snapshot key and returns a compact count of new, rising, falling, unchanged, and no-longer-visible pins.",
        "color": 7
      },
      "id": "51000000-0000-0000-4000-8000-000000000026",
      "name": "Save and summarize",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -128
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "1. Set Your Pinterest Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "1. Set Your Pinterest Searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Set Your Pinterest Searches": {
      "main": [
        [
          {
            "node": "Build FetchCat Search Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build FetchCat Search Input": {
      "main": [
        [
          {
            "node": "2. Search Pinterest with FetchCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Search Pinterest with FetchCat": {
      "main": [
        [
          {
            "node": "Normalize Current Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Current Rankings": {
      "main": [
        [
          {
            "node": "Read Earlier Rankings from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Earlier Rankings from Google Sheets": {
      "main": [
        [
          {
            "node": "3. Compare Weekly Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Compare Weekly Rankings": {
      "main": [
        [
          {
            "node": "Prepare Ranking Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ranking Rows": {
      "main": [
        [
          {
            "node": "4. Save Rankings to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Save Rankings to Google Sheets": {
      "main": [
        [
          {
            "node": "Weekly Ranking Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Lisbon",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
