workflows/pinterest-search-opportunities-brief/workflow.json
{
  "name": "Weekly Pinterest Search Momentum Monitor",
  "nodes": [
    {
      "parameters": {},
      "id": "50000000-0000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000002",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1760,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "FetchCat Pinterest Search Snapshots",
        "columns": {
          "column": [
            {
              "name": "snapshotKey",
              "type": "string"
            },
            {
              "name": "snapshotDate",
              "type": "string"
            },
            {
              "name": "snapshotAt",
              "type": "date"
            },
            {
              "name": "query",
              "type": "string"
            },
            {
              "name": "pinId",
              "type": "string"
            },
            {
              "name": "position",
              "type": "number"
            },
            {
              "name": "title",
              "type": "string"
            },
            {
              "name": "pinUrl",
              "type": "string"
            },
            {
              "name": "creatorName",
              "type": "string"
            },
            {
              "name": "domain",
              "type": "string"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000003",
      "name": "Ensure Pinterest Snapshot Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1520,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "pinterest-name",
              "name": "researchName",
              "value": "Small-space gardening Pinterest monitor",
              "type": "string"
            },
            {
              "id": "pinterest-decision",
              "name": "decisionToMake",
              "value": "Which Pinterest topics and creative formats should we publish or test next?",
              "type": "string"
            },
            {
              "id": "pinterest-offer",
              "name": "offer",
              "value": "A practical small-space gardening publication with guides, newsletters, and affiliate recommendations.",
              "type": "string"
            },
            {
              "id": "pinterest-audience",
              "name": "targetAudience",
              "value": "Apartment renters in the United States who want attractive, productive gardens in very limited space.",
              "type": "string"
            },
            {
              "id": "pinterest-style",
              "name": "brandStyle",
              "value": "Useful, achievable, bright, and specific, with clear instructional visuals instead of generic inspiration.",
              "type": "string"
            },
            {
              "id": "pinterest-constraints",
              "name": "constraints",
              "value": "Recommend original educational content. Do not copy pin designs or claim demand without trend data.",
              "type": "string"
            },
            {
              "id": "pinterest-queries",
              "name": "queries",
              "value": "small balcony garden ideas, balcony vegetable garden, vertical garden for balcony, apartment herb garden, small patio garden ideas",
              "type": "string"
            },
            {
              "id": "pinterest-locale",
              "name": "locale",
              "value": "en-US",
              "type": "string"
            },
            {
              "id": "pinterest-country",
              "name": "country",
              "value": "US",
              "type": "string"
            },
            {
              "id": "pinterest-limit",
              "name": "maxResultsPerQuery",
              "value": 10,
              "type": "number"
            },
            {
              "id": "pinterest-min-evidence",
              "name": "minRelevantPins",
              "value": 7,
              "type": "number"
            },
            {
              "id": "pinterest-details",
              "name": "includePinDetails",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "50000000-0000-0000-4000-8000-000000000004",
      "name": "1. Set Your Pinterest Research",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first()?.json;\nif (!config) throw new Error('Configure 1. Set Your Pinterest Research.');\nconst queries = String(config.queries || '').split(',').map((value) => value.trim()).filter(Boolean);\nif (queries.length !== 5) throw new Error('Configure exactly five focused, comma-separated Pinterest queries.');\nif (new Set(queries.map((query) => query.toLowerCase())).size !== queries.length) throw new Error('Pinterest queries must be unique.');\nconst decisionToMake = String(config.decisionToMake || '').trim();\nconst offer = String(config.offer || '').trim();\nconst targetAudience = String(config.targetAudience || '').trim();\nconst brandStyle = String(config.brandStyle || '').trim();\nconst constraints = String(config.constraints || '').trim();\nif ([decisionToMake, offer, targetAudience, brandStyle, constraints].some((value) => value.length < 20)) throw new Error('Decision, offer, audience, brand style, and constraints must each be at least 20 characters.');\nconst maxResultsPerQuery = Math.max(5, Math.min(Number(config.maxResultsPerQuery) || 10, 20));\nconst minRelevantPins = Math.max(6, Math.min(Number(config.minRelevantPins) || 7, 10));\nreturn [{ json: {\n  config: {\n    researchName: String(config.researchName || 'Pinterest Search Opportunity Brief').trim(),\n    decisionToMake,\n    offer,\n    targetAudience,\n    brandStyle,\n    constraints,\n    queries,\n    locale: String(config.locale || 'en-US').trim(),\n    country: String(config.country || '').trim(),\n    maxResultsPerQuery,\n    minRelevantPins\n  },\n  actorInput: {\n    queries,\n    maxResultsPerQuery,\n    includePinDetails: Boolean(config.includePinDetails),\n    locale: String(config.locale || 'en-US').trim(),\n    country: String(config.country || '').trim(),\n    proxyConfiguration: { useApifyProxy: false }\n  }\n} }];"
      },
      "id": "50000000-0000-0000-4000-8000-000000000005",
      "name": "Build Pinterest Actor Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/FtsA7YTDVGAJ83XiS/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Encoding",
              "value": "identity"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "waitForFinish",
              "value": "300"
            },
            {
              "name": "timeout",
              "value": "600"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.actorInput }}",
        "options": {
          "timeout": 310000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000006",
      "name": "2. Search Pinterest with FetchCat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "waitForFinish",
              "value": "300"
            }
          ]
        },
        "options": {
          "timeout": 310000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000031",
      "name": "Wait for Queued Pinterest Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -620,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const run = $input.first()?.json?.data;\nif (!run?.defaultDatasetId) throw new Error('FetchCat Pinterest Search Scraper did not return a dataset.');\nif (run.status && run.status !== 'SUCCEEDED') throw new Error('FetchCat Pinterest Search Scraper finished with status: ' + run.status);\nreturn [{ json: { datasetId: run.defaultDatasetId, actorRunId: String(run.id || '') } }];"
      },
      "id": "50000000-0000-0000-4000-8000-000000000007",
      "name": "Validate Pinterest Actor Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{ $json.datasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clean",
              "value": "true"
            },
            {
              "name": "limit",
              "value": "150"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000008",
      "name": "Get Pinterest Search Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Build Pinterest Actor Input').first().json.config;\nconst payload = $input.all().flatMap((item) => {\n  const value = item.json?.data ?? item.json;\n  return Array.isArray(value) ? value : [value];\n});\nconst snapshotAt = new Date().toISOString();\nconst snapshotDate = snapshotAt.slice(0, 10);\nconst unique = new Map();\nfor (const pin of payload) {\n  const pinId = String(pin.pinId || '').trim();\n  const query = String(pin.query || '').trim();\n  const pinUrl = String(pin.pinUrl || '').trim();\n  const position = Number(pin.position);\n  if (!pinId || !query || !/^https:\\/\\/(?:[a-z]+\\.)?pinterest\\.[^/]+\\/pin\\//i.test(pinUrl) || !Number.isFinite(position) || position < 1) continue;\n  const key = query.toLowerCase() + '|' + pinId;\n  if (unique.has(key)) continue;\n  const rawTitle = String(pin.title || '').trim();\n  const rawDescription = String(pin.description || '').trim();\n  const title = !rawTitle || ['pin', 'pinterest'].includes(rawTitle.toLowerCase())\n    ? (rawDescription ? rawDescription.slice(0, 220) : 'Untitled Pinterest pin')\n    : rawTitle.slice(0, 220);\n  const optionalNumber = (value) => value !== null && value !== undefined && value !== '' && Number.isFinite(Number(value)) ? Number(value) : null;\n  unique.set(key, {\n    snapshotKey: snapshotDate + '|' + key,\n    snapshotDate,\n    snapshotAt,\n    query,\n    pinId,\n    position,\n    title,\n    description: rawDescription.slice(0, 1200),\n    pinUrl,\n    imageUrl: String(pin.imageUrl || pin.thumbnailUrl || '').trim(),\n    creatorName: String(pin.creatorName || pin.creatorUsername || '').trim(),\n    domain: String(pin.domain || '').trim(),\n    outboundUrl: String(pin.outboundUrl || '').trim(),\n    saveCount: optionalNumber(pin.saveCount),\n    repinCount: optionalNumber(pin.repinCount),\n    dominantColor: String(pin.dominantColor || '').trim()\n  });\n}\nconst pins = [...unique.values()].sort((a, b) => a.query.localeCompare(b.query) || a.position - b.position).slice(0, 150);\nconst minimumPerQuery = Math.max(5, Math.floor(config.maxResultsPerQuery * 0.7));\nconst countsByQuery = new Map(config.queries.map((query) => [query.toLowerCase(), 0]));\nfor (const pin of pins) countsByQuery.set(pin.query.toLowerCase(), (countsByQuery.get(pin.query.toLowerCase()) || 0) + 1);\nconst incomplete = config.queries.filter((query) => (countsByQuery.get(query.toLowerCase()) || 0) < minimumPerQuery);\nif (incomplete.length) throw new Error('Incomplete Pinterest dataset. Fewer than ' + minimumPerQuery + ' usable pins returned for: ' + incomplete.join(', ') + '. Retry before analyzing partial evidence.');\nreturn pins.map((pin) => ({ json: { ...pin, researchName: config.researchName } }));"
      },
      "id": "50000000-0000-0000-4000-8000-000000000009",
      "name": "Normalize Pinterest Pins",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Pinterest Search Snapshots"
        },
        "returnAll": true,
        "filters": {
          "conditions": []
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000010",
      "name": "Load Previous Pinterest Snapshots",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const current = $('Normalize Pinterest Pins').all().map((item) => item.json);\nconst config = $('Build Pinterest Actor Input').first().json.config;\nconst currentDate = current[0].snapshotDate;\nconst querySet = new Set(config.queries.map((query) => query.toLowerCase()));\nconst storedRows = $input.all().map((item) => item.json).filter((row) => row.pinId && row.query && row.snapshotDate && querySet.has(String(row.query).toLowerCase()));\nconst historical = storedRows.filter((row) => row.snapshotDate < currentDate);\nconst completedQueriesToday = new Set(storedRows.filter((row) => row.snapshotDate === currentDate).map((row) => String(row.query).toLowerCase()));\nconst historyDates = [...new Set(historical.map((row) => String(row.snapshotDate)))].sort();\nconst monitorStage = historyDates.length === 0 ? 'baseline' : historyDates.length === 1 ? 'comparison' : 'momentum';\nconst latestDateByQuery = new Map();\nfor (const row of historical) {\n  const query = String(row.query).toLowerCase();\n  if (!latestDateByQuery.has(query) || row.snapshotDate > latestDateByQuery.get(query)) latestDateByQuery.set(query, row.snapshotDate);\n}\nconst previousByKey = new Map();\nfor (const row of historical) {\n  const query = String(row.query).toLowerCase();\n  if (row.snapshotDate === latestDateByQuery.get(query)) previousByKey.set(query + '|' + row.pinId, row);\n}\nconst compared = current.map((pin) => {\n  const previous = previousByKey.get(pin.query.toLowerCase() + '|' + pin.pinId);\n  const previousPosition = previous ? Number(previous.position) : null;\n  const movement = previousPosition === null ? null : previousPosition - pin.position;\n  const status = previousPosition === null ? (latestDateByQuery.has(pin.query.toLowerCase()) ? 'new' : 'baseline') : movement > 0 ? 'rising' : movement < 0 ? 'falling' : 'steady';\n  const observedDates = new Set(historical.filter((row) => String(row.query).toLowerCase() === pin.query.toLowerCase() && String(row.pinId) === pin.pinId).map((row) => String(row.snapshotDate)));\n  return { ...pin, previousPosition, movement, status, weeksObserved: observedDates.size + 1 };\n});\nconst isBaseline = latestDateByQuery.size === 0;\nconst pendingSnapshotCount = config.queries.filter((query) => !completedQueriesToday.has(query.toLowerCase())).length;\nconst counts = Object.fromEntries(['baseline', 'new', 'rising', 'falling', 'steady'].map((status) => [status, compared.filter((pin) => pin.status === status).length]));\nconst queryStats = config.queries.map((query) => {\n  const rows = compared.filter((pin) => pin.query.toLowerCase() === query.toLowerCase());\n  const priorDate = latestDateByQuery.get(query.toLowerCase()) || null;\n  return {\n    query,\n    currentResults: rows.length,\n    previousSnapshotDate: priorDate,\n    newPins: rows.filter((pin) => pin.status === 'new').length,\n    risingPins: rows.filter((pin) => pin.status === 'rising').length,\n    fallingPins: rows.filter((pin) => pin.status === 'falling').length,\n    steadyPins: rows.filter((pin) => pin.status === 'steady').length,\n    repeatedPins: rows.filter((pin) => pin.weeksObserved >= 2).length\n  };\n});\nconst evidencePins = compared.slice(0, 30).map((pin) => ({\n  pinId: pin.pinId,\n  query: pin.query,\n  position: pin.position,\n  previousPosition: pin.previousPosition,\n  status: pin.status,\n  weeksObserved: pin.weeksObserved,\n  title: pin.title,\n  description: pin.description.slice(0, 600),\n  creatorName: pin.creatorName || null,\n  domain: pin.domain || null,\n  saveCount: pin.saveCount,\n  repinCount: pin.repinCount,\n  dominantColor: pin.dominantColor || null,\n  pinUrl: pin.pinUrl,\n  imageUrl: pin.imageUrl\n}));\nconst imagePinsByQuery = new Map(config.queries.map((query) => [query.toLowerCase(), compared.filter((pin) => pin.query.toLowerCase() === query.toLowerCase() && /^https:\\/\\//i.test(pin.imageUrl)).sort((a, b) => a.position - b.position)]));\nconst visionPins = [];\nconst visionPinIds = new Set();\nfor (let rank = 0; visionPins.length < 10 && rank < 20; rank += 1) {\n  for (const query of config.queries) {\n    const pin = imagePinsByQuery.get(query.toLowerCase())?.[rank];\n    if (pin && !visionPinIds.has(pin.pinId)) {\n      visionPins.push({ ...pin, evidenceId: 'P' + (visionPins.length + 1) });\n      visionPinIds.add(pin.pinId);\n    }\n    if (visionPins.length === 10) break;\n  }\n}\nif (visionPins.length < 10) throw new Error('Pinterest returned fewer than ten image-backed pins. Use more specific queries or increase results per query.');\nconst sourcePins = [...compared].sort((a, b) => a.position - b.position).filter((pin, index, all) => all.findIndex((candidate) => candidate.pinId === pin.pinId) === index).slice(0, 5);\nconst sheetsEpochOffset = 25569;\nconst toSheetsSerial = (value) => new Date(value).getTime() / 86400000 + sheetsEpochOffset;\nconst sheetRows = compared.map((pin) => ({\n  snapshotAt: toSheetsSerial(pin.snapshotAt),\n  query: pin.query,\n  position: pin.position,\n  previousPosition: pin.previousPosition,\n  movement: pin.movement,\n  status: pin.status.charAt(0).toUpperCase() + pin.status.slice(1),\n  pinLink: '=HYPERLINK(\"' + pin.pinUrl.replace(/\"/g, '\"\"') + '\",\"View pin\")',\n  title: pin.title,\n  creator: pin.creatorName,\n  domain: pin.domain,\n  imageLink: pin.imageUrl ? '=HYPERLINK(\"' + pin.imageUrl.replace(/\"/g, '\"\"') + '\",\"View image\")' : '',\n  saves: pin.saveCount,\n  repins: pin.repinCount,\n  pinId: pin.pinId,\n  snapshotKey: pin.snapshotKey\n}));\nreturn [{ json: { config, isBaseline, monitorStage, historyDates, pendingSnapshotCount, counts, queryStats, compared, evidencePins, visionPins, sourcePins, sheetRows, snapshotRows: current } }];"
      },
      "id": "50000000-0000-0000-4000-8000-000000000011",
      "name": "Compare Search Snapshots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.pendingSnapshotCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50000000-0000-0000-4000-8000-000000000029",
      "name": "Needs Today's Brief",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const analysis = $('Compare Search Snapshots').first().json;\nreturn [{ json: { status: 'No new Pinterest brief needed', reason: 'The same dated search snapshot was already delivered.', snapshotDate: analysis.compared[0]?.snapshotDate || '' } }];"
      },
      "id": "50000000-0000-0000-4000-8000-000000000030",
      "name": "No New Snapshot Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.4-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "user",
              "content": "=Decision to make: {{ $json.config.decisionToMake }}\nOffer or publication: {{ $json.config.offer }}\nTarget audience: {{ $json.config.targetAudience }}\nBrand style: {{ $json.config.brandStyle }}\nConstraints: {{ $json.config.constraints }}\nMinimum relevant pins required: {{ $json.config.minRelevantPins }}\nMonitor stage: {{ $json.monitorStage }}\nEarlier snapshot dates: {{ JSON.stringify($json.historyDates) }}\nQuery statistics: {{ JSON.stringify($json.queryStats) }}\nAll current text evidence: {{ JSON.stringify($json.evidencePins) }}\n\nThe ten attached current images correspond in order to these records. Use only the short evidenceId values P1 through P10 in pinId and sourcePinIds fields:\n{{ JSON.stringify($json.visionPins.map((pin, index) => ({ imageNumber: index + 1, evidenceId: pin.evidenceId, pinterestPinId: pin.pinId, query: pin.query, position: pin.position, previousPosition: pin.previousPosition, status: pin.status, weeksObserved: pin.weeksObserved, title: pin.title, description: pin.description, creatorName: pin.creatorName, domain: pin.domain, pinUrl: pin.pinUrl }))) }}"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[0].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[1].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[2].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[3].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[4].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[5].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[6].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[7].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[8].imageUrl }}",
              "imageDetail": "low"
            },
            {
              "type": "image",
              "role": "user",
              "imageType": "url",
              "imageUrl": "={{ $json.visionPins[9].imageUrl }}",
              "imageDetail": "low"
            }
          ]
        },
        "simplify": true,
        "builtInTools": {},
        "options": {
          "instructions": "Create a weekly Pinterest search momentum brief from the supplied search ranks, dated snapshots, metadata, and ten current images. The returned monitorStage must exactly match the supplied stage. Assess every image for relevance to the niche and decision. A ready brief requires at least the configured number of relevant images; otherwise return zero opportunities and repair the searches. Baseline means current search landscape only: every query movementSignal must be baseline and no pattern may be recurring or emerging. Comparison has one earlier snapshot: movement may be described only as an early signal and no pattern may be emerging. Momentum has at least two earlier snapshots: emerging is allowed only when supported by repeated rank or appearance evidence across snapshots. Search-result movement is not search-volume or demand growth. Never claim sales, clicks, impressions, popularity, virality, or engagement when those metrics are absent. Return exactly three original, testable content opportunities when ready. Each opportunity must say what to publish, why now, how it differs, and what result to measure. Never copy designs or recommend copyrighted characters, trademarks, book covers, or close imitation. Cite supplied pin IDs for every pattern, avoid item, and opportunity; opportunities may cite only relevant pins. Return concise natural English in the strict schema.",
          "maxTokens": 9000,
          "reasoning": {
            "reasoningOptions": {
              "effort": "low",
              "summary": "none"
            }
          },
          "store": false,
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "low",
              "name": "pinterest_search_momentum_monitor",
              "schema": "{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"decisionStatus\",\"monitorStage\",\"confidence\",\"summary\",\"queryAssessments\",\"pinAssessments\",\"patterns\",\"opportunities\",\"avoid\",\"nextActions\",\"recommendedQueries\"],\"properties\":{\"decisionStatus\":{\"type\":\"string\",\"enum\":[\"ready\",\"insufficient_evidence\"]},\"monitorStage\":{\"type\":\"string\",\"enum\":[\"baseline\",\"comparison\",\"momentum\"]},\"confidence\":{\"type\":\"string\",\"enum\":[\"high\",\"medium\",\"low\"]},\"summary\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":1600},\"queryAssessments\":{\"type\":\"array\",\"minItems\":5,\"maxItems\":5,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"query\",\"relevantCount\",\"movementSignal\",\"verdict\",\"recommendedReplacement\"],\"properties\":{\"query\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":150},\"relevantCount\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":10},\"movementSignal\":{\"type\":\"string\",\"enum\":[\"baseline\",\"early_signal\",\"rising\",\"falling\",\"stable\",\"mixed\"]},\"verdict\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":400},\"recommendedReplacement\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":150}}}},\"pinAssessments\":{\"type\":\"array\",\"minItems\":10,\"maxItems\":10,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"pinId\",\"relevant\",\"relevanceReason\",\"productOrFormat\",\"audienceIntent\",\"visualDescription\"],\"properties\":{\"pinId\":{\"type\":\"string\",\"minLength\":1},\"relevant\":{\"type\":\"boolean\"},\"relevanceReason\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300},\"productOrFormat\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":150},\"audienceIntent\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":250},\"visualDescription\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500}}}},\"patterns\":{\"type\":\"array\",\"minItems\":4,\"maxItems\":4,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"pattern\",\"stage\",\"observation\",\"sourcePinIds\"],\"properties\":{\"pattern\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"stage\":{\"type\":\"string\",\"enum\":[\"current\",\"recurring\",\"emerging\"]},\"observation\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500},\"sourcePinIds\":{\"type\":\"array\",\"minItems\":1,\"maxItems\":3,\"items\":{\"type\":\"string\",\"minLength\":1}}}}},\"opportunities\":{\"type\":\"array\",\"minItems\":0,\"maxItems\":3,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"title\",\"productOrFormat\",\"audienceIntent\",\"concept\",\"differentiation\",\"visualBrief\",\"pinterestTitle\",\"pinterestDescription\",\"keywords\",\"confidence\",\"sourcePinIds\"],\"properties\":{\"title\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"productOrFormat\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":150},\"audienceIntent\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300},\"concept\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":600},\"differentiation\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500},\"visualBrief\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"composition\",\"typography\",\"palette\",\"imagery\"],\"properties\":{\"composition\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300},\"typography\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300},\"palette\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"imagery\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300}}},\"pinterestTitle\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":150},\"pinterestDescription\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500},\"keywords\":{\"type\":\"array\",\"minItems\":4,\"maxItems\":8,\"items\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":80}},\"confidence\":{\"type\":\"string\",\"enum\":[\"high\",\"medium\",\"low\"]},\"sourcePinIds\":{\"type\":\"array\",\"minItems\":2,\"maxItems\":4,\"items\":{\"type\":\"string\",\"minLength\":1}}}}},\"avoid\":{\"type\":\"array\",\"minItems\":3,\"maxItems\":3,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"concept\",\"reason\",\"sourcePinIds\"],\"properties\":{\"concept\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"reason\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":400},\"sourcePinIds\":{\"type\":\"array\",\"minItems\":1,\"maxItems\":3,\"items\":{\"type\":\"string\",\"minLength\":1}}}}},\"nextActions\":{\"type\":\"array\",\"minItems\":4,\"maxItems\":4,\"items\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300}},\"recommendedQueries\":{\"type\":\"array\",\"minItems\":5,\"maxItems\":5,\"items\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":150}}}}",
              "description": "Create a weekly Pinterest search momentum brief from the supplied search ranks, dated snapshots, metadata, and ten current images. The returned monitorStage must exactly match the supplied stage. Assess every image for relevance to the niche and decision. A ready brief requires at least the configured number of relevant images; otherwise return zero opportunities and repair the searches. Baseline means current search landscape only: every query movementSignal must be baseline and no pattern may be recurring or emerging. Comparison has one earlier snapshot: movement may be described only as an early signal and no pattern may be emerging. Momentum has at least two earlier snapshots: emerging is allowed only when supported by repeated rank or appearance evidence across snapshots. Search-result movement is not search-volume or demand growth. Never claim sales, clicks, impressions, popularity, virality, or engagement when those metrics are absent. Return exactly three original, testable content opportunities when ready. Each opportunity must say what to publish, why now, how it differs, and what result to measure. Never copy designs or recommend copyrighted characters, trademarks, book covers, or close imitation. Cite supplied pin IDs for every pattern, avoid item, and opportunity; opportunities may cite only relevant pins. Return concise natural English in the strict schema.",
              "strict": true
            }
          }
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000012",
      "name": "3. Generate Weekly Content Brief",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction parseStructured(root, requiredKeys) {\n  const seen = new Set();\n  function visit(value) {\n    if (value === null || value === undefined) return null;\n    if (typeof value === 'string') {\n      const text = value.trim().replace(/^\\x60\\x60\\x60(?:json)?\\s*/i, '').replace(/\\s*\\x60\\x60\\x60$/, '');\n      if (!text.startsWith('{')) return null;\n      try { return visit(JSON.parse(text)); } catch { return null; }\n    }\n    if (typeof value !== 'object' || seen.has(value)) return null;\n    seen.add(value);\n    if (requiredKeys.every((key) => Object.prototype.hasOwnProperty.call(value, key))) return value;\n    const preferred = ['output_text', 'outputText', 'text', 'content', 'output', 'message', 'response', 'data'];\n    for (const key of preferred) {\n      if (Object.prototype.hasOwnProperty.call(value, key)) {\n        const found = visit(value[key]);\n        if (found) return found;\n      }\n    }\n    for (const nested of Array.isArray(value) ? value : Object.values(value)) {\n      const found = visit(nested);\n      if (found) return found;\n    }\n    return null;\n  }\n  return visit(root);\n}\n\nconst analysis = $('Compare Search Snapshots').first().json;\nconst brief = parseStructured($input.first().json, ['decisionStatus', 'monitorStage', 'confidence', 'summary', 'queryAssessments', 'pinAssessments', 'patterns', 'opportunities', 'avoid', 'nextActions', 'recommendedQueries']);\nif (!brief || brief.queryAssessments?.length !== 5 || brief.pinAssessments?.length !== 10 || brief.patterns?.length !== 4 || !Array.isArray(brief.opportunities) || brief.avoid?.length !== 3 || brief.nextActions?.length !== 4 || brief.recommendedQueries?.length !== 5) throw new Error('OpenAI returned an invalid Pinterest monitor brief.');\nif (brief.monitorStage !== analysis.monitorStage) throw new Error('OpenAI monitor stage does not match the available history.');\nif (analysis.monitorStage === 'baseline') {\n  brief.queryAssessments.forEach((item) => { item.movementSignal = 'baseline'; });\n  brief.patterns.forEach((item) => { item.stage = 'current'; });\n}\nif (analysis.monitorStage === 'comparison') brief.patterns.forEach((item) => { if (item.stage === 'emerging') item.stage = 'recurring'; });\nconst visionById = new Map(analysis.visionPins.map((pin) => [String(pin.evidenceId), pin]));\nconst assessedIds = brief.pinAssessments.map((item) => String(item.pinId));\nif (new Set(assessedIds).size !== 10 || assessedIds.some((pinId) => !visionById.has(pinId))) throw new Error('OpenAI did not assess each supplied Pinterest image exactly once.');\nconst configuredQueries = new Set(analysis.config.queries.map((query) => query.toLowerCase()));\nif (new Set(brief.queryAssessments.map((item) => String(item.query).toLowerCase())).size !== 5 || brief.queryAssessments.some((item) => !configuredQueries.has(String(item.query).toLowerCase()))) throw new Error('OpenAI query assessment does not match the configured queries.');\nconst assessmentsById = new Map(brief.pinAssessments.map((item) => [String(item.pinId), item]));\nconst relevantIds = new Set(brief.pinAssessments.filter((item) => item.relevant).map((item) => String(item.pinId)));\nconst relevantCountByQuery = new Map(analysis.config.queries.map((query) => [query.toLowerCase(), analysis.visionPins.filter((pin) => pin.query.toLowerCase() === query.toLowerCase() && relevantIds.has(String(pin.evidenceId))).length]));\nconst expectedStatus = relevantIds.size >= analysis.config.minRelevantPins ? 'ready' : 'insufficient_evidence';\nif (brief.decisionStatus !== expectedStatus) throw new Error('OpenAI decision status does not match the evidence threshold.');\nif (expectedStatus === 'ready' && brief.opportunities.length !== 3) throw new Error('A ready Pinterest brief must contain exactly three concepts.');\nif (expectedStatus === 'insufficient_evidence' && brief.opportunities.length !== 0) throw new Error('An insufficient-evidence brief must not contain concepts.');\nconst validIds = new Set(assessedIds);\nconst assertSources = (items, relevantOnly = false) => {\n  for (const item of items) {\n    if (!Array.isArray(item.sourcePinIds) || item.sourcePinIds.length < 1 || item.sourcePinIds.some((pinId) => !validIds.has(String(pinId)) || (relevantOnly && !relevantIds.has(String(pinId))))) throw new Error('OpenAI cited unsupported Pinterest evidence.');\n  }\n};\nassertSources(brief.patterns);\nassertSources(brief.avoid);\nassertSources(brief.opportunities, true);\nconst queryCounts = [...relevantCountByQuery.values()];\nconst evidenceConfidence = relevantIds.size >= 8 && queryCounts.every((count) => count >= 1) ? brief.confidence : brief.confidence === 'low' ? 'low' : 'medium';\nconst effectiveConfidence = analysis.monitorStage === 'baseline' && evidenceConfidence === 'high' ? 'medium' : evidenceConfidence;\nconst countedSummary = String(brief.summary).replace(/^(?:zero|one|two|three|four|five|six|seven|eight|nine|\\d+)(?:\\s+of\\s+(?:nine|9))?\\s+pins?\\s+(?:are|were)\\s+relevant[^.]*\\.\\s*/i, '').trim();\nconst summaryText = relevantIds.size + ' of 10 visually assessed pins were relevant. ' + countedSummary;\nconst pinLinks = (ids) => ids.map((pinId) => visionById.get(String(pinId))?.pinUrl).filter(Boolean).join(' | ');\nconst cleanSearchText = (value, fallback) => {\n  let text = String(value || '').trim();\n  if (analysis.config.locale.toLowerCase().startsWith('en')) text = text.replace(/[^\\x20-\\x7E]/g, ' ');\n  text = text.replace(/\\s+/g, ' ').replace(/^[\\s:;,.!?-]+|[\\s:;,.!?-]+$/g, '').trim();\n  if (!/[A-Za-z0-9]/.test(text)) return fallback;\n  return text || fallback;\n};\nconst blocks = [];\nconst add = (type, textContent = '', url = '') => blocks.push({ type, textContent, url });\nconst heading = (text) => add('heading_2', text);\nconst bullet = (text) => add('bulleted_list_item', text);\nadd('paragraph', 'Generated ' + new Date().toLocaleString('en-GB', { dateStyle: 'long', timeStyle: 'short', timeZone: 'Europe/Lisbon' }) + '. Ten current pin images were assessed from ' + analysis.compared.length + ' complete search results.');\nheading(\"This week's decision\");\nadd('paragraph', (brief.decisionStatus === 'ready' ? 'READY TO TEST' : 'INSUFFICIENT EVIDENCE') + ' | ' + brief.monitorStage.toUpperCase() + ' | Confidence: ' + effectiveConfidence.toUpperCase() + '\\n' + summaryText);\nheading('Monitoring status');\nadd('paragraph', relevantIds.size + ' of 10 visually assessed pins were relevant. Earlier snapshots: ' + analysis.historyDates.length + '.\\nDecision: ' + analysis.config.decisionToMake + '\\nPublication or offer: ' + analysis.config.offer + '\\nAudience: ' + analysis.config.targetAudience + '\\nStyle: ' + analysis.config.brandStyle + '\\nConstraints: ' + analysis.config.constraints);\nbrief.queryAssessments.forEach((item) => {\n  const replacement = cleanSearchText(item.recommendedReplacement, 'Keep this query');\n  const stats = analysis.queryStats.find((entry) => entry.query.toLowerCase() === String(item.query).toLowerCase());\n  bullet(item.query + ' — ' + item.movementSignal.replace('_', ' ').toUpperCase() + ' | ' + relevantCountByQuery.get(String(item.query).toLowerCase()) + ' relevant images | New ' + stats.newPins + ', rising ' + stats.risingPins + ', falling ' + stats.fallingPins + ', repeated ' + stats.repeatedPins + '. ' + item.verdict + ' Next search: ' + replacement);\n});\nheading('Search landscape and movement');\nbrief.patterns.forEach((item) => bullet(item.stage.toUpperCase() + ' | ' + item.pattern + ' — ' + item.observation + ' Evidence: ' + pinLinks(item.sourcePinIds)));\nheading(brief.decisionStatus === 'ready' ? 'What to publish next' : 'Recommendations withheld');\nconst opportunitySlots = brief.decisionStatus === 'ready' ? brief.opportunities : [\n  { title: 'No product concept generated', productOrFormat: 'Evidence gate stopped the workflow', audienceIntent: 'The current results do not reliably represent the intended buyer.', concept: 'Refine the searches below and run the workflow again.', differentiation: 'This prevents generic ideas from being mistaken for research findings.', visualBrief: { composition: 'Not generated', typography: 'Not generated', palette: 'Not generated', imagery: 'Not generated' }, pinterestTitle: 'Not generated', pinterestDescription: 'Not generated', keywords: [], confidence: 'low', sourcePinIds: [] },\n  { title: 'Why it stopped', productOrFormat: relevantIds.size + ' relevant pins', audienceIntent: 'At least ' + analysis.config.minRelevantPins + ' are required.', concept: 'Ambiguous or unrelated visual results were rejected.', differentiation: 'Only evidence-backed recommendations are allowed.', visualBrief: { composition: 'Review rejected pins below', typography: 'Review rejected pins below', palette: 'Review rejected pins below', imagery: 'Review rejected pins below' }, pinterestTitle: 'Not generated', pinterestDescription: 'Not generated', keywords: [], confidence: 'low', sourcePinIds: [] },\n  { title: 'How to continue', productOrFormat: 'Run a focused follow-up search', audienceIntent: 'Use the recommended queries in this report.', concept: 'Replace broad or ambiguous terms with product, audience, style, and occasion language.', differentiation: 'The next run should contain enough cohesive evidence to support concepts.', visualBrief: { composition: 'Not generated', typography: 'Not generated', palette: 'Not generated', imagery: 'Not generated' }, pinterestTitle: 'Not generated', pinterestDescription: 'Not generated', keywords: [], confidence: 'low', sourcePinIds: [] }\n];\nopportunitySlots.forEach((item) => {\n  const itemConfidence = effectiveConfidence === 'medium' && item.confidence === 'high' ? 'medium' : item.confidence;\n  add('heading_3', item.title);\n  add('paragraph', 'Product or format: ' + item.productOrFormat + '\\nAudience intent: ' + item.audienceIntent + '\\nConcept: ' + item.concept + '\\nWhy it is different: ' + item.differentiation + '\\nConfidence: ' + itemConfidence.toUpperCase());\n  add('paragraph', 'Visual brief\\nComposition: ' + item.visualBrief.composition + '\\nTypography: ' + item.visualBrief.typography + '\\nPalette: ' + item.visualBrief.palette + '\\nImagery: ' + item.visualBrief.imagery);\n  add('paragraph', 'Pinterest draft\\nTitle: ' + item.pinterestTitle + '\\nDescription: ' + item.pinterestDescription + '\\nKeywords: ' + item.keywords.join(', '));\n  add('paragraph', item.sourcePinIds.length ? 'Supporting pins: ' + pinLinks(item.sourcePinIds) : 'Supporting pins: none — the evidence gate stopped concept generation.');\n});\nheading('Watch list');\nbrief.avoid.forEach((item) => bullet(item.concept + ' — ' + item.reason + ' Evidence: ' + pinLinks(item.sourcePinIds)));\nheading('Next actions');\nbrief.nextActions.forEach((item) => add('to_do', item));\nheading('Queries for the next run');\nbrief.recommendedQueries.forEach((item) => bullet(cleanSearchText(item, 'Use a more specific product, audience, and style query')));\nheading('Source evidence');\nconst relevantSourcePins = analysis.visionPins.filter((pin) => relevantIds.has(String(pin.evidenceId))).sort((a, b) => a.position - b.position).slice(0, 3);\nconst rejectedSourcePins = analysis.visionPins.filter((pin) => !relevantIds.has(String(pin.evidenceId))).sort((a, b) => a.position - b.position).slice(0, 2);\nconst sourcePins = [...relevantSourcePins, ...rejectedSourcePins];\nfor (const pin of analysis.visionPins) {\n  if (sourcePins.length === 5) break;\n  if (!sourcePins.some((candidate) => candidate.pinId === pin.pinId)) sourcePins.push(pin);\n}\nsourcePins.forEach((pin) => {\n  const assessment = assessmentsById.get(String(pin.evidenceId));\n  add('image', '', pin.imageUrl);\n  add('paragraph', (assessment.relevant ? 'RELEVANT' : 'REJECTED') + ' | ' + pin.query + ' #' + pin.position + '\\n' + pin.title + '\\n' + assessment.visualDescription + '\\nWhy: ' + assessment.relevanceReason + '\\n' + pin.pinUrl);\n});\nheading('Method and limits');\nadd('paragraph', (analysis.monitorStage === 'baseline' ? 'This is the first baseline; it describes only the current search landscape. ' : analysis.monitorStage === 'comparison' ? 'This is an early comparison with one earlier snapshot; changes are signals, not trends. ' : 'Momentum labels require at least two earlier snapshots, but still describe search-result visibility rather than search demand. ') + 'Pinterest search position and visible pin content are observations, not proof of popularity, market demand, or sales. Missing saves and repins remain unknown. Recommendations are original hypotheses to test.');\nif (blocks.length !== 59) throw new Error('Pinterest Notion brief block count changed unexpectedly.');\nreturn [{ json: { title: analysis.config.researchName + ' - ' + analysis.compared[0].snapshotDate, notionBlocks: blocks, sheetRows: analysis.sheetRows, snapshotRows: analysis.snapshotRows, summary: summaryText, decisionStatus: brief.decisionStatus, relevantPinCount: relevantIds.size } }];"
      },
      "id": "50000000-0000-0000-4000-8000-000000000013",
      "name": "Validate and Format Pinterest Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.sheetRows.map((row) => ({ json: row }));"
      },
      "id": "50000000-0000-0000-4000-8000-000000000014",
      "name": "Expand Pinterest Evidence Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "0000000000000000000000000000000000000000000"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "0",
          "cachedResultName": "Pinterest Search"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Snapshot key"
          ],
          "value": {
            "Snapshot at": "={{ $json.snapshotAt }}",
            "Query": "={{ $json.query }}",
            "Position": "={{ $json.position }}",
            "Previous position": "={{ $json.previousPosition }}",
            "Movement": "={{ $json.movement }}",
            "Status": "={{ $json.status }}",
            "Pin": "={{ $json.pinLink }}",
            "Title": "={{ $json.title }}",
            "Creator": "={{ $json.creator }}",
            "Domain": "={{ $json.domain }}",
            "Image": "={{ $json.imageLink }}",
            "Saves": "={{ $json.saves }}",
            "Repins": "={{ $json.repins }}",
            "Pinterest pin ID": "={{ $json.pinId }}",
            "Snapshot key": "={{ $json.snapshotKey }}"
          },
          "schema": [
            {
              "id": "Snapshot at",
              "displayName": "Snapshot at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Previous position",
              "displayName": "Previous position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Movement",
              "displayName": "Movement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pin",
              "displayName": "Pin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Creator",
              "displayName": "Creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Domain",
              "displayName": "Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Saves",
              "displayName": "Saves",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Repins",
              "displayName": "Repins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pinterest pin ID",
              "displayName": "Pinterest pin ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snapshot key",
              "displayName": "Snapshot key",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "50000000-0000-0000-4000-8000-000000000015",
      "name": "4. Save Pinterest Evidence to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $('Validate and Format Pinterest Brief').first().json }];"
      },
      "id": "50000000-0000-0000-4000-8000-000000000016",
      "name": "Continue After Evidence Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "00000000-0000-0000-0000-000000000000"
        },
        "title": "={{ $json.title }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": []
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[0].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[1].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[2].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[3].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[4].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[5].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[6].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[7].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[8].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[9].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[10].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[11].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[12].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[13].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[14].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[15].textContent }}"
            },
            {
              "type": "heading_3",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[16].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[17].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[18].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[19].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[20].textContent }}"
            },
            {
              "type": "heading_3",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[21].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[22].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[23].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[24].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[25].textContent }}"
            },
            {
              "type": "heading_3",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[26].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[27].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[28].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[29].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[30].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[31].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[32].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[33].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[34].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[35].textContent }}"
            },
            {
              "type": "to_do",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[36].textContent }}"
            },
            {
              "type": "to_do",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[37].textContent }}"
            },
            {
              "type": "to_do",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[38].textContent }}"
            },
            {
              "type": "to_do",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[39].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[40].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[41].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[42].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[43].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[44].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[45].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[46].textContent }}"
            },
            {
              "type": "image",
              "url": "={{ $json.notionBlocks[47].url }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[48].textContent }}"
            },
            {
              "type": "image",
              "url": "={{ $json.notionBlocks[49].url }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[50].textContent }}"
            },
            {
              "type": "image",
              "url": "={{ $json.notionBlocks[51].url }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[52].textContent }}"
            },
            {
              "type": "image",
              "url": "={{ $json.notionBlocks[53].url }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[54].textContent }}"
            },
            {
              "type": "image",
              "url": "={{ $json.notionBlocks[55].url }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[56].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[57].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[58].textContent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "50000000-0000-0000-4000-8000-000000000017",
      "name": "5. Create Pinterest Brief in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2080,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Validate and Format Pinterest Brief').first().json.snapshotRows.map((row) => ({ json: row }));"
      },
      "id": "50000000-0000-0000-4000-8000-000000000018",
      "name": "Prepare Pinterest Snapshot Commit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Pinterest Search Snapshots"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "snapshotKey",
              "condition": "eq",
              "keyValue": "={{ $json.snapshotKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "value": {
            "snapshotKey": "={{ $json.snapshotKey }}",
            "snapshotDate": "={{ $json.snapshotDate }}",
            "snapshotAt": "={{ $json.snapshotAt }}",
            "query": "={{ $json.query }}",
            "pinId": "={{ $json.pinId }}",
            "position": "={{ $json.position }}",
            "title": "={{ $json.title }}",
            "pinUrl": "={{ $json.pinUrl }}",
            "creatorName": "={{ $json.creatorName }}",
            "domain": "={{ $json.domain }}"
          },
          "schema": [
            {
              "id": "snapshotKey",
              "displayName": "snapshotKey",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snapshotDate",
              "displayName": "snapshotDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snapshotAt",
              "displayName": "snapshotAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pinId",
              "displayName": "pinId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pinUrl",
              "displayName": "pinUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creatorName",
              "displayName": "creatorName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "50000000-0000-0000-4000-8000-000000000019",
      "name": "Commit Pinterest Search Snapshot",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2560,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const page = $('5. Create Pinterest Brief in Notion').first().json;\nconst brief = $('Validate and Format Pinterest Brief').first().json;\nreturn [{ json: { status: brief.decisionStatus === 'ready' ? 'Pinterest concepts ready to test' : 'Pinterest evidence needs better queries', decisionStatus: brief.decisionStatus, relevantPinCount: brief.relevantPinCount, title: brief.title, notionUrl: page.url || '', summary: brief.summary, evidenceRows: brief.sheetRows.length } }];"
      },
      "id": "50000000-0000-0000-4000-8000-000000000020",
      "name": "Pinterest Brief Ready",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        0
      ]
    },
    {
      "parameters": {
        "width": 400,
        "height": 960,
        "content": "## Weekly Pinterest Search Momentum Monitor\n\n### How it works\n\n1. Starts manually or every Monday morning and creates a durable Pinterest search snapshot table.\n2. Runs FetchCat Pinterest Search Scraper for five tracked queries and rejects incomplete datasets before analysis.\n3. Compares every result with dated history. Run one is a baseline, run two is an early comparison, and momentum labels require at least two earlier snapshots.\n4. Visually assesses ten balanced current pins and summarizes query-level new, rising, falling, steady, and repeated results.\n5. Produces three evidence-linked content briefs, a watch list, and next actions. Sheets and Notion are written before the snapshot is committed.\n\n### Setup steps\n\n- [ ] Add `fetch_cat/pinterest-search-scraper` to your Apify account if required.\n- [ ] Create HTTP Header Auth with `Authorization: Bearer YOUR_APIFY_TOKEN` and select it in all three FetchCat request nodes.\n- [ ] Connect OpenAI in 3. Generate Weekly Content Brief.\n- [ ] Create a Pinterest Search sheet with the documented headers and select it in 4. Save Pinterest Evidence to Google Sheets.\n- [ ] Connect Notion, share a database with the integration, and select it in 5. Create Pinterest Brief in Notion.\n- [ ] Edit the decision, publication or offer, audience, style, constraints, and exactly five tracked queries in 1. Set Your Pinterest Research.\n\n### Accuracy controls\n\nThe workflow never treats search-result movement as demand growth. Baselines cannot claim movement; one comparison cannot claim an emerging pattern. Ten images are assessed for meaning, and incomplete query results stop the run. Missing public saves and repins remain unknown.",
        "color": 1
      },
      "id": "50000000-0000-0000-4000-8000-000000000021",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        -320
      ]
    },
    {
      "parameters": {
        "width": 576,
        "height": 432,
        "content": "## Start and configure\n\nStarts manually or weekly, creates the snapshot table, and exposes all editable research settings in one clearly numbered node.",
        "color": 7
      },
      "id": "50000000-0000-0000-4000-8000-000000000022",
      "name": "Start and configure",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        -256
      ]
    },
    {
      "parameters": {
        "width": 624,
        "height": 304,
        "content": "## Run FetchCat Pinterest scraper\n\nValidates the setup and runs `fetch_cat/pinterest-search-scraper` through Cloud-compatible HTTP Request nodes.",
        "color": 7
      },
      "id": "50000000-0000-0000-4000-8000-000000000023",
      "name": "Run FetchCat Pinterest scraper",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        -128
      ]
    },
    {
      "parameters": {
        "width": 528,
        "height": 304,
        "content": "## Collect and normalize pins\n\nDownloads the completed Apify dataset, validates every tracked query, rejects malformed results, deduplicates query and pin IDs, and selects ten balanced images.",
        "color": 7
      },
      "id": "50000000-0000-0000-4000-8000-000000000024",
      "name": "Collect and normalize pins",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -128
      ]
    },
    {
      "parameters": {
        "width": 528,
        "height": 304,
        "content": "## Compare dated snapshots\n\nBuilds baseline, comparison, or momentum context and calculates new, rising, falling, steady, and repeated search-result evidence.",
        "color": 7
      },
      "id": "50000000-0000-0000-4000-8000-000000000025",
      "name": "Compare dated snapshots",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -128
      ]
    },
    {
      "parameters": {
        "width": 816,
        "height": 496,
        "content": "## Assess evidence and decide\n\nOne structured vision request assesses ten current images plus rank history. It creates three content briefs only after relevance passes and limits trend language to the available history.",
        "color": 7
      },
      "id": "50000000-0000-0000-4000-8000-000000000026",
      "name": "Assess evidence and decide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -128
      ]
    },
    {
      "parameters": {
        "width": 672,
        "height": 304,
        "content": "## Save readable evidence\n\nUpserts sortable, linked Google Sheets rows. Same-day retries use Snapshot key to avoid duplicate evidence.",
        "color": 7
      },
      "id": "50000000-0000-0000-4000-8000-000000000027",
      "name": "Save readable evidence",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -128
      ]
    },
    {
      "parameters": {
        "width": 912,
        "height": 304,
        "content": "## Publish brief and commit snapshot\n\nCreates the Notion brief first, then commits the dated Data Table snapshot so failed destination writes remain retryable.",
        "color": 7
      },
      "id": "50000000-0000-0000-4000-8000-000000000028",
      "name": "Publish brief and commit snapshot",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2032,
        -128
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Ensure Pinterest Snapshot Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Ensure Pinterest Snapshot Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Pinterest Snapshot Table": {
      "main": [
        [
          {
            "node": "1. Set Your Pinterest Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Set Your Pinterest Research": {
      "main": [
        [
          {
            "node": "Build Pinterest Actor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pinterest Actor Input": {
      "main": [
        [
          {
            "node": "2. Search Pinterest with FetchCat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Search Pinterest with FetchCat": {
      "main": [
        [
          {
            "node": "Wait for Queued Pinterest Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Queued Pinterest Run": {
      "main": [
        [
          {
            "node": "Validate Pinterest Actor Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Pinterest Actor Run": {
      "main": [
        [
          {
            "node": "Get Pinterest Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pinterest Search Results": {
      "main": [
        [
          {
            "node": "Normalize Pinterest Pins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Pinterest Pins": {
      "main": [
        [
          {
            "node": "Load Previous Pinterest Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous Pinterest Snapshots": {
      "main": [
        [
          {
            "node": "Compare Search Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Search Snapshots": {
      "main": [
        [
          {
            "node": "Needs Today's Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Today's Brief": {
      "main": [
        [
          {
            "node": "3. Generate Weekly Content Brief",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Snapshot Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Generate Weekly Content Brief": {
      "main": [
        [
          {
            "node": "Validate and Format Pinterest Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Format Pinterest Brief": {
      "main": [
        [
          {
            "node": "Expand Pinterest Evidence Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Pinterest Evidence Rows": {
      "main": [
        [
          {
            "node": "4. Save Pinterest Evidence to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Save Pinterest Evidence to Google Sheets": {
      "main": [
        [
          {
            "node": "Continue After Evidence Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue After Evidence Sheet": {
      "main": [
        [
          {
            "node": "5. Create Pinterest Brief in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Create Pinterest Brief in Notion": {
      "main": [
        [
          {
            "node": "Prepare Pinterest Snapshot Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pinterest Snapshot Commit": {
      "main": [
        [
          {
            "node": "Commit Pinterest Search Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Pinterest Search Snapshot": {
      "main": [
        [
          {
            "node": "Pinterest Brief Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Lisbon",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
