workflows/cross-network-competitor-creative-radar/workflow.json
{
  "name": "Cross-Network Competitor Creative Radar",
  "nodes": [
    {
      "parameters": {},
      "id": "23100000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000002",
      "name": "Weekly Schedule (inactive until configured)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1600,
        -80
      ]
    },
    {
      "parameters": {
        "formTitle": "Cross-network competitor creative radar setup",
        "formFields": {
          "values": [
            {
              "fieldLabel": "watchlistLabel"
            },
            {
              "fieldLabel": "market"
            },
            {
              "fieldLabel": "itemsPerSource",
              "fieldType": "number"
            },
            {
              "fieldLabel": "reportingWindow"
            },
            {
              "fieldLabel": "slackNotify",
              "fieldType": "checkbox"
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000003",
      "name": "Creative Radar Setup Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1360,
        20
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "creative_radar_config",
        "columns": {
          "column": [
            {
              "name": "watchlist_label",
              "type": "string"
            },
            {
              "name": "market",
              "type": "string"
            },
            {
              "name": "config_fingerprint",
              "type": "string"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "23100000-0000-4000-8000-000000000004",
      "name": "Ensure Creative Radar Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "creative_radar_snapshots",
        "columns": {
          "column": [
            {
              "name": "snapshot_key",
              "type": "string"
            },
            {
              "name": "source",
              "type": "string"
            },
            {
              "name": "source_ad_id",
              "type": "string"
            },
            {
              "name": "source_signals",
              "type": "json"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "23100000-0000-4000-8000-000000000005",
      "name": "Ensure Creative Radar Snapshots",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        20
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "creative_radar_deliveries",
        "columns": {
          "column": [
            {
              "name": "idempotency_key",
              "type": "string"
            },
            {
              "name": "destination_result",
              "type": "json"
            },
            {
              "name": "delivered_at",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "23100000-0000-4000-8000-000000000006",
      "name": "Ensure Creative Radar Deliveries",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const watchlistLabel = String($json.watchlistLabel || '').trim();\nconst market = String($json.market || '').trim() || 'US';\nconst requested = Number($json.itemsPerSource ?? 10);\nconst itemsPerSource = Math.max(1, Math.min(Number.isFinite(requested) ? requested : 10, 10));\nif (!watchlistLabel) throw new Error('watchlistLabel is required before any Apify, AI, Drive, or Slack spend.');\nconst sources = ['meta','google','tiktok'];\nconst runKey = `${watchlistLabel.toLowerCase().replace(/[^a-z0-9]+/g,'-')}:${market}:${new Date().toISOString().slice(0,10)}`;\nreturn [{json:{watchlistLabel,market,itemsPerSource,slackNotify:Boolean($json.slackNotify),runKey,caps:{itemsPerSource:10,actorRuns:3,totalRows:30,aiRequests:1,driveWrites:1,slackWrites:1},actorInputs:{meta:{query:watchlistLabel,country:market,maxItems:itemsPerSource},google:{query:watchlistLabel,region:market,maxResultsPerQuery:itemsPerSource},tiktok:{query:watchlistLabel,country:market,maxItems:itemsPerSource}},sourceOrder:sources}}];"
      },
      "id": "23100000-0000-4000-8000-000000000007",
      "name": "Validate Setup and Build Actor Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/fetch_cat~facebook-ads-library-scraper/runs?waitForFinish=120&token={{$env.APIFY_TOKEN}}",
        "sendBody": true,
        "jsonBody": "={$json.actorInputs.meta}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000008",
      "name": "Run Meta Actor (fetch_cat/facebook-ads-library-scraper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/fetch_cat~google-ads-transparency-scraper/runs?waitForFinish=120&token={{$env.APIFY_TOKEN}}",
        "sendBody": true,
        "jsonBody": "={$json.actorInputs.google}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000009",
      "name": "Run Google Actor (fetch_cat/google-ads-transparency-scraper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/fetch_cat~tiktok-ads-library-scraper/runs?waitForFinish=120&token={{$env.APIFY_TOKEN}}",
        "sendBody": true,
        "jsonBody": "={$json.actorInputs.tiktok}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000010",
      "name": "Run TikTok Actor (fetch_cat/tiktok-ads-library-scraper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst normalized = [];\nconst sourceStatus = {};\nfunction detectSource(j, paired) {\n  const name = paired?.json?.actorId || paired?.json?.actId || paired?.json?.actorTaskId || '';\n  if (/facebook|meta/i.test(name)) return 'meta';\n  if (/google/i.test(name)) return 'google';\n  if (/tiktok/i.test(name)) return 'tiktok';\n  return j.source || j.platform || 'unknown';\n}\nfor (const item of items) {\n  const rows = Array.isArray(item.json) ? item.json : (Array.isArray(item.json?.items) ? item.json.items : []);\n  const source = rows[0]?.source || rows[0]?.platform || item.json?.source || 'unknown';\n  if (!rows.length) { sourceStatus[source] = {status:'empty_or_error', count:0}; continue; }\n  sourceStatus[source] = {status:'observed', count:Math.min(rows.length,10)};\n  for (const r of rows.slice(0, 10)) {\n    const s = String(r.source || r.platform || source).toLowerCase().includes('google') ? 'google' : String(r.source || r.platform || source).toLowerCase().includes('tiktok') ? 'tiktok' : String(r.source || r.platform || source).toLowerCase().includes('meta') || String(r.source || r.platform || source).toLowerCase().includes('facebook') ? 'meta' : source;\n    const sourceAdId = String(r.source_ad_id || r.adArchiveId || r.adId || r.creativeId || r.id || '').trim();\n    if (!sourceAdId) continue;\n    normalized.push({source:s, coverage_type:'public_library_results', source_ad_id:sourceAdId, advertiser_name:r.advertiser_name||r.pageName||r.advertiserName||r.brandName||'', message_primary:r.message_primary||r.adText||r.text||r.title||'', evidence_url:r.evidence_url||r.url||r.adSnapshotUrl||r.landingPageUrl||'', observed_at:new Date().toISOString(), source_signals:r.source_signals||{rawFields:Object.keys(r).slice(0,20)}, snapshot_state:'new'});\n  }\n}\nconst seen = new Set();\nconst capped = normalized.filter(r => { const k = `${r.source}:${r.source_ad_id}`; if (seen.has(k)) return false; seen.add(k); return true; }).slice(0,30);\nreturn [{json:{normalized:capped,counts:{total:capped.length,bySource:sourceStatus},warnings:Object.entries(sourceStatus).filter(([,v])=>v.status!=='observed').map(([s])=>`${s}: no observed rows; rendered as absence, not retirement`)}}];"
      },
      "id": "23100000-0000-4000-8000-000000000011",
      "name": "Normalize Rows and Compare Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        20
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-5.4-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Return strict JSON classifications with evidence excerpts only."
            },
            {
              "content": "={{JSON.stringify($json.normalized).slice(0,12000)}}"
            }
          ]
        },
        "options": {
          "maxTokens": 1500,
          "responseFormat": "json_object"
        }
      },
      "id": "23100000-0000-4000-8000-000000000012",
      "name": "Classify Themes with OpenAI gpt-5.4-mini",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -60,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nif (!data.normalized?.length) return [{json:{skipDelivery:true,reason:'No observed source rows; no AI, Drive, Slack, snapshot, or delivery writes allowed.'}}];\nconst lines=['# Cross-network competitor creative radar','','Collection scope: '+JSON.stringify(data.counts),'','## Guardrails','- Meta, Google, and TikTok are reported separately; no blended rank or score is calculated.','- Absence means not observed unless a source explicitly proves retirement.','','## Evidence rows',...data.normalized.map(r=>`- **${r.source}** ${r.source_ad_id} \u2014 ${r.message_primary || 'no copy'} \u2014 ${r.evidence_url || 'no evidence URL'}`),'','## Source warnings',...(data.warnings?.length ? data.warnings.map(w=>`- ${w}`) : ['- none'])];\nreturn [{json:{markdown:lines.join('\\n'),fileName:'creative-radar-'+Date.now()+'.md',idempotencyKey:`creative-radar:${Date.now()}`,slackNotify:Boolean(data.slackNotify)}}];"
      },
      "id": "23100000-0000-4000-8000-000000000013",
      "name": "Render Evidence-linked Markdown Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        20
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{$json.fileName}}",
        "binaryData": false,
        "fileContent": "={{$json.markdown}}"
      },
      "id": "23100000-0000-4000-8000-000000000014",
      "name": "Write Markdown Brief to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "={{\"Creative radar delivered: \"+$json.webViewLink}}"
      },
      "id": "23100000-0000-4000-8000-000000000015",
      "name": "Optional Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        720,
        20
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableName": "creative_radar_deliveries"
      },
      "id": "23100000-0000-4000-8000-000000000016",
      "name": "Commit Snapshot and Delivery Ledger",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        980,
        20
      ]
    },
    {
      "parameters": {
        "color": 1,
        "width": 520,
        "height": 340,
        "content": "### How it works\nThis inactive template collects a capped public sample from Meta Ads Library, Google Ads Transparency, and TikTok Creative Center Actors, normalizes only comparable evidence, compares with the previous snapshot, optionally classifies hooks and offers in one structured AI request, then writes one Markdown brief to Google Drive. It preserves source statuses and source-specific signals without creating a cross-network score.\n\n### Setup\nUse the setup form or config Data Table for watchlist label, market, source queries, weekly window, item cap, Drive folder, and optional Slack notification. Add Apify and Google Drive credentials in n8n. OpenAI and Slack are optional. Keep the workflow inactive until QA/publisher approval."
      },
      "id": "23100000-0000-4000-8000-000000000017",
      "name": "Overview Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        -520
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data?.defaultDatasetId || $json.defaultDatasetId}}/items?clean=true&limit=10&token={{$env.APIFY_TOKEN}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000020",
      "name": "Fetch Meta Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        -180
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data?.defaultDatasetId || $json.defaultDatasetId}}/items?clean=true&limit=10&token={{$env.APIFY_TOKEN}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000021",
      "name": "Fetch Google Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        20
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data?.defaultDatasetId || $json.defaultDatasetId}}/items?clean=true&limit=10&token={{$env.APIFY_TOKEN}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000022",
      "name": "Fetch Tiktok Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.slackNotify === true}}",
              "value2": true
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000030",
      "name": "Should Send Slack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        20
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "getAll",
        "tableName": "creative_radar_deliveries",
        "limit": 1
      },
      "id": "23100000-0000-4000-8000-000000000031",
      "name": "Check Delivery Ledger Before Writes",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -190,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.counts.total}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000032",
      "name": "Has Observed Rows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -230,
        20
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Creative Radar Setup Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule (inactive until configured)": {
      "main": [
        [
          {
            "node": "Creative Radar Setup Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creative Radar Setup Form": {
      "main": [
        [
          {
            "node": "Ensure Creative Radar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Creative Radar Config": {
      "main": [
        [
          {
            "node": "Ensure Creative Radar Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Creative Radar Snapshots": {
      "main": [
        [
          {
            "node": "Ensure Creative Radar Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Creative Radar Deliveries": {
      "main": [
        [
          {
            "node": "Validate Setup and Build Actor Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Setup and Build Actor Inputs": {
      "main": [
        [
          {
            "node": "Run Meta Actor (fetch_cat/facebook-ads-library-scraper)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run Google Actor (fetch_cat/google-ads-transparency-scraper)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Run TikTok Actor (fetch_cat/tiktok-ads-library-scraper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Meta Actor (fetch_cat/facebook-ads-library-scraper)": {
      "main": [
        [
          {
            "node": "Fetch Meta Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Google Actor (fetch_cat/google-ads-transparency-scraper)": {
      "main": [
        [
          {
            "node": "Fetch Google Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run TikTok Actor (fetch_cat/tiktok-ads-library-scraper)": {
      "main": [
        [
          {
            "node": "Fetch Tiktok Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Rows and Compare Snapshot": {
      "main": [
        [
          {
            "node": "Has Observed Rows?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Themes with OpenAI gpt-5.4-mini": {
      "main": [
        [
          {
            "node": "Render Evidence-linked Markdown Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Evidence-linked Markdown Brief": {
      "main": [
        [
          {
            "node": "Write Markdown Brief to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Markdown Brief to Google Drive": {
      "main": [
        [
          {
            "node": "Should Send Slack?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optional Slack Notification": {
      "main": [
        [
          {
            "node": "Commit Snapshot and Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Meta Dataset Items": {
      "main": [
        [
          {
            "node": "Normalize Rows and Compare Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Dataset Items": {
      "main": [
        [
          {
            "node": "Normalize Rows and Compare Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tiktok Dataset Items": {
      "main": [
        [
          {
            "node": "Normalize Rows and Compare Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delivery Ledger Before Writes": {
      "main": [
        [
          {
            "node": "Render Evidence-linked Markdown Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Slack?": {
      "main": [
        [
          {
            "node": "Optional Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Snapshot and Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Observed Rows?": {
      "main": [
        [
          {
            "node": "Check Delivery Ledger Before Writes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
