workflows/cross-network-competitor-creative-radar/workflow.json
{
  "name": "Cross-Network Competitor Creative Radar",
  "nodes": [
    {
      "parameters": {},
      "id": "23100000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000002",
      "name": "Weekly Schedule (inactive until configured)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1600,
        -80
      ]
    },
    {
      "parameters": {
        "formTitle": "Cross-network competitor creative radar setup",
        "formFields": {
          "values": [
            {
              "fieldLabel": "watchlistLabel"
            },
            {
              "fieldLabel": "market"
            },
            {
              "fieldLabel": "itemsPerSource",
              "fieldType": "number"
            },
            {
              "fieldLabel": "reportingWindow"
            },
            {
              "fieldLabel": "slackNotify",
              "fieldType": "checkbox"
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000003",
      "name": "Creative Radar Setup Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1360,
        20
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "creative_radar_config",
        "columns": {
          "column": [
            {
              "name": "watchlist_label",
              "type": "string"
            },
            {
              "name": "market",
              "type": "string"
            },
            {
              "name": "config_fingerprint",
              "type": "string"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "23100000-0000-4000-8000-000000000004",
      "name": "Ensure Creative Radar Config",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "creative_radar_snapshots",
        "columns": {
          "column": [
            {
              "name": "snapshot_key",
              "type": "string"
            },
            {
              "name": "source",
              "type": "string"
            },
            {
              "name": "source_ad_id",
              "type": "string"
            },
            {
              "name": "source_signals",
              "type": "json"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "23100000-0000-4000-8000-000000000005",
      "name": "Ensure Creative Radar Snapshots",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        20
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "creative_radar_deliveries",
        "columns": {
          "column": [
            {
              "name": "idempotency_key",
              "type": "string"
            },
            {
              "name": "destination_result",
              "type": "json"
            },
            {
              "name": "delivered_at",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "23100000-0000-4000-8000-000000000006",
      "name": "Ensure Creative Radar Deliveries",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1120,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('Creative Radar Setup Form').first().json;\nconst watchlistLabel = String(setup.watchlistLabel || '').trim();\nconst market = String(setup.market || '').trim() || 'US';\nconst requested = Number(setup.itemsPerSource ?? 10);\nconst itemsPerSource = Math.max(1, Math.min(Number.isFinite(requested) ? requested : 10, 10));\nif (!watchlistLabel) throw new Error('watchlistLabel is required before any Apify, AI, Drive, or Slack spend.');\nconst sources = ['meta','google','tiktok'];\nconst runKey = `${watchlistLabel.toLowerCase().replace(/[^a-z0-9]+/g,'-')}:${market}:${new Date().toISOString().slice(0,10)}`;\nreturn [{json:{watchlistLabel,market,itemsPerSource,slackNotify:Boolean(setup.slackNotify),runKey,caps:{itemsPerSource:10,actorRuns:3,totalRows:30,aiRequests:1,driveWrites:1,slackWrites:1},actorInputs:{meta:{query:watchlistLabel,country:market,maxItems:itemsPerSource},google:{query:watchlistLabel,region:market,maxResultsPerQuery:itemsPerSource},tiktok:{query:watchlistLabel,country:market,maxItems:itemsPerSource}},sourceOrder:sources}}];"
      },
      "id": "23100000-0000-4000-8000-000000000007",
      "name": "Validate Setup and Build Actor Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/fetch_cat~facebook-ads-library-scraper/runs?waitForFinish=120",
        "sendBody": true,
        "jsonBody": "={{$('Validate Setup and Build Actor Inputs').first().json.actorInputs.meta}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000008",
      "name": "Run Meta Actor (fetch_cat/facebook-ads-library-scraper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        -180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/fetch_cat~google-ads-transparency-scraper/runs?waitForFinish=120",
        "sendBody": true,
        "jsonBody": "={{$('Validate Setup and Build Actor Inputs').first().json.actorInputs.google}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000009",
      "name": "Run Google Actor (fetch_cat/google-ads-transparency-scraper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/fetch_cat~tiktok-ads-library-scraper/runs?waitForFinish=120",
        "sendBody": true,
        "jsonBody": "={{$('Validate Setup and Build Actor Inputs').first().json.actorInputs.tiktok}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000010",
      "name": "Run TikTok Actor (fetch_cat/tiktok-ads-library-scraper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = [...$('Annotate Meta Rows with Provenance').all(), ...$('Annotate Google Rows with Provenance').all(), ...$('Annotate Tiktok Rows with Provenance').all()];\nconst normalized = [];\nconst sourceStatus = {};\nlet ctx = {};\nfor (const item of items) {\n  const source = item.json.source || 'unknown';\n  const rows = Array.isArray(item.json.rows) ? item.json.rows : [];\n  ctx = {...ctx, runKey:item.json.runKey, idempotencyKey:item.json.idempotencyKey, watchlistLabel:item.json.watchlistLabel, market:item.json.market, slackNotify:item.json.slackNotify};\n  if (!rows.length) { sourceStatus[source] = {status:item.json.status || 'empty_or_error', count:0, apifyRunId:item.json.apifyRunId, apifyDatasetId:item.json.apifyDatasetId}; continue; }\n  sourceStatus[source] = {status:'observed', count:Math.min(rows.length,10), apifyRunId:item.json.apifyRunId, apifyDatasetId:item.json.apifyDatasetId};\n  for (const r of rows.slice(0, 10)) {\n    const sourceAdId = String(r.source_ad_id || r.adArchiveId || r.adId || r.creativeId || r.id || '').trim();\n    if (!sourceAdId) continue;\n    normalized.push({source, coverage_type:'public_library_results', source_ad_id:sourceAdId, advertiser_name:r.advertiser_name||r.pageName||r.advertiserName||r.brandName||'', message_primary:r.message_primary||r.adText||r.text||r.title||'', evidence_url:r.evidence_url||r.url||r.adSnapshotUrl||r.landingPageUrl||'', observed_at:new Date().toISOString(), apify_run_id:r.apifyRunId, apify_dataset_id:r.apifyDatasetId, source_signals:r.source_signals||{rawFields:Object.keys(r).slice(0,20)}, snapshot_state:'new'});\n  }\n}\nconst seen = new Set();\nconst capped = normalized.filter(r => { const k = `${r.source}:${r.source_ad_id}`; if (seen.has(k)) return false; seen.add(k); return true; }).slice(0,30);\nreturn [{json:{...ctx, normalized:capped,counts:{total:capped.length,bySource:sourceStatus},warnings:Object.entries(sourceStatus).filter(([,v])=>v.status!=='observed').map(([s])=>`${s}: no observed rows; rendered as absence, not retirement`)}}];"
      },
      "id": "23100000-0000-4000-8000-000000000011",
      "name": "Normalize Rows and Compare Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        20
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-5.4-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Return strict JSON classifications with evidence excerpts only."
            },
            {
              "content": "={{JSON.stringify($json.normalized).slice(0,12000)}}"
            }
          ]
        },
        "options": {
          "maxTokens": 1500,
          "responseFormat": "json_object"
        }
      },
      "id": "23100000-0000-4000-8000-000000000012",
      "name": "Classify Themes with OpenAI gpt-5.4-mini",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -60,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Normalize Rows and Compare Snapshot').first().json;\nconst ai = $json;\nif (!data.normalized?.length) return [{json:{skipDelivery:true,reason:'No observed source rows; no AI, Drive, Slack, snapshot, or delivery writes allowed.'}}];\nconst lines=['# Cross-network competitor creative radar','',`Watchlist: ${data.watchlistLabel} (${data.market})`,'Collection scope: '+JSON.stringify(data.counts),'','## Guardrails','- Meta, Google, and TikTok are reported separately; no blended rank or score is calculated.','- Absence means not observed unless a source explicitly proves retirement.','','## Evidence rows',...data.normalized.map(r=>`- **${r.source}** ${r.source_ad_id} — ${r.message_primary || 'no copy'} — ${r.evidence_url || 'no evidence URL'} (run ${r.apify_run_id || 'n/a'}, dataset ${r.apify_dataset_id || 'n/a'})`),'','## AI themes (source-separated)',JSON.stringify(ai).slice(0,4000),'','## Source warnings',...(data.warnings?.length ? data.warnings.map(w=>`- ${w}`) : ['- none'])];\nreturn [{json:{...data, ai, markdown:lines.join('\\n'),fileName:`creative-radar-${data.runKey}.md`.replace(/[^a-z0-9_.-]/gi,'-'),idempotencyKey:data.idempotencyKey,slackNotify:Boolean(data.slackNotify)}}];"
      },
      "id": "23100000-0000-4000-8000-000000000013",
      "name": "Render Evidence-linked Markdown Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        20
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{$json.fileName}}",
        "binaryData": false,
        "fileContent": "={{$json.markdown}}"
      },
      "id": "23100000-0000-4000-8000-000000000014",
      "name": "Write Markdown Brief to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        20
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "text": "={{\"Creative radar delivered: \"+$json.webViewLink}}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "={{$json.slackChannel || $env.N8N_QA_SLACK_CHANNEL || \"fetchcat-qa\"}}"
        },
        "messageType": "text"
      },
      "id": "23100000-0000-4000-8000-000000000015",
      "name": "Optional Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        720,
        20
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idempotency_key": "={{$('Render Evidence-linked Markdown Brief').first().json.idempotencyKey}}",
            "destination_result": "={{JSON.stringify($json)}}",
            "delivered_at": "={{new Date().toISOString()}}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "creative_radar_deliveries",
          "cachedResultName": "creative_radar_deliveries"
        }
      },
      "id": "23100000-0000-4000-8000-000000000016",
      "name": "Commit Snapshot and Delivery Ledger",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        980,
        20
      ]
    },
    {
      "parameters": {
        "color": 1,
        "width": 520,
        "height": 340,
        "content": "### How it works\nThis inactive template collects a capped public sample from Meta Ads Library, Google Ads Transparency, and TikTok Creative Center Actors, normalizes only comparable evidence, compares with the previous snapshot, optionally classifies hooks and offers in one structured AI request, then writes one Markdown brief to Google Drive. It preserves source statuses and source-specific signals without creating a cross-network score.\n\n### Setup\nUse the setup form or config Data Table for watchlist label, market, source queries, weekly window, item cap, Drive folder, and optional Slack notification. Add Apify and Google Drive credentials in n8n. OpenAI and Slack are optional. Keep the workflow inactive until QA/publisher approval."
      },
      "id": "23100000-0000-4000-8000-000000000017",
      "name": "Overview Sticky",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        -520
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data?.defaultDatasetId || $json.defaultDatasetId}}/items?clean=true&limit=10",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000020",
      "name": "Fetch Meta Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        -180
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data?.defaultDatasetId || $json.defaultDatasetId}}/items?clean=true&limit=10",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000021",
      "name": "Fetch Google Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        20
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data?.defaultDatasetId || $json.defaultDatasetId}}/items?clean=true&limit=10",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "23100000-0000-4000-8000-000000000022",
      "name": "Fetch Tiktok Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.slackNotify === true}}",
              "value2": true
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000030",
      "name": "Should Send Slack?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        20
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "limit": 1,
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "creative_radar_deliveries",
          "cachedResultName": "creative_radar_deliveries"
        }
      },
      "id": "23100000-0000-4000-8000-000000000031",
      "name": "Check Delivery Ledger Before Writes",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -190,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.counts.total}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000032",
      "name": "Has Observed Rows?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -230,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('Validate Setup and Build Actor Inputs').first().json;\nconst run = $('Run Meta Actor (fetch_cat/facebook-ads-library-scraper)').first()?.json || {};\nconst datasetId = run.data?.defaultDatasetId || run.defaultDatasetId || '';\nconst runId = run.data?.id || run.id || '';\nconst rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : (Array.isArray(i.json?.items) ? i.json.items : []));\nreturn [{json:{source:'meta', rows: rows.slice(0, setup.itemsPerSource || 10).map(r => ({...r, source:'meta', apifyRunId: runId, apifyDatasetId: datasetId})), status: rows.length ? 'observed' : 'empty_or_error', apifyRunId: runId, apifyDatasetId: datasetId, runKey: setup.runKey, idempotencyKey: setup.idempotencyKey, watchlistLabel: setup.watchlistLabel, market: setup.market, slackNotify: setup.slackNotify}}];"
      },
      "id": "23100000-0000-4000-8000-000000000034",
      "name": "Annotate Meta Rows with Provenance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -110,
        -180
      ]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('Validate Setup and Build Actor Inputs').first().json;\nconst run = $('Run Google Actor (fetch_cat/google-ads-transparency-scraper)').first()?.json || {};\nconst datasetId = run.data?.defaultDatasetId || run.defaultDatasetId || '';\nconst runId = run.data?.id || run.id || '';\nconst rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : (Array.isArray(i.json?.items) ? i.json.items : []));\nreturn [{json:{source:'google', rows: rows.slice(0, setup.itemsPerSource || 10).map(r => ({...r, source:'google', apifyRunId: runId, apifyDatasetId: datasetId})), status: rows.length ? 'observed' : 'empty_or_error', apifyRunId: runId, apifyDatasetId: datasetId, runKey: setup.runKey, idempotencyKey: setup.idempotencyKey, watchlistLabel: setup.watchlistLabel, market: setup.market, slackNotify: setup.slackNotify}}];"
      },
      "id": "23100000-0000-4000-8000-000000000035",
      "name": "Annotate Google Rows with Provenance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -110,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const setup = $('Validate Setup and Build Actor Inputs').first().json;\nconst run = $('Run TikTok Actor (fetch_cat/tiktok-ads-library-scraper)').first()?.json || {};\nconst datasetId = run.data?.defaultDatasetId || run.defaultDatasetId || '';\nconst runId = run.data?.id || run.id || '';\nconst rows = $input.all().flatMap(i => Array.isArray(i.json) ? i.json : (Array.isArray(i.json?.items) ? i.json.items : []));\nreturn [{json:{source:'tiktok', rows: rows.slice(0, setup.itemsPerSource || 10).map(r => ({...r, source:'tiktok', apifyRunId: runId, apifyDatasetId: datasetId})), status: rows.length ? 'observed' : 'empty_or_error', apifyRunId: runId, apifyDatasetId: datasetId, runKey: setup.runKey, idempotencyKey: setup.idempotencyKey, watchlistLabel: setup.watchlistLabel, market: setup.market, slackNotify: setup.slackNotify}}];"
      },
      "id": "23100000-0000-4000-8000-000000000036",
      "name": "Annotate Tiktok Rows with Provenance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -110,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.duplicateExists === false}}",
              "value2": true
            }
          ]
        }
      },
      "id": "23100000-0000-4000-8000-000000000037",
      "name": "No Prior Delivery?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        20
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "snapshot_key": "={{$('Render Evidence-linked Markdown Brief').first().json.runKey}}",
            "source": "all",
            "source_ad_id": "={{$('Render Evidence-linked Markdown Brief').first().json.normalized.map(r => r.source + ':' + r.source_ad_id).join(',')}}",
            "source_signals": "={{JSON.stringify({counts:$('Render Evidence-linked Markdown Brief').first().json.counts, rows:$('Render Evidence-linked Markdown Brief').first().json.normalized})}}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "creative_radar_snapshots",
          "cachedResultName": "creative_radar_snapshots"
        }
      },
      "id": "23100000-0000-4000-8000-000000000038",
      "name": "Commit Creative Radar Snapshot Rows",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        980,
        -160
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "watchlist_label": "={{$json.watchlistLabel}}",
            "market": "={{$json.market}}",
            "config_fingerprint": "={{$json.configFingerprint}}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "creative_radar_config",
          "cachedResultName": "creative_radar_config"
        }
      },
      "id": "23100000-0000-4000-8000-000000000033",
      "name": "Upsert Creative Radar Config Row",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -740,
        20
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Normalize Rows and Compare Snapshot').first().json;\nconst rows = $input.all().map(i => i.json);\nconst duplicateExists = rows.some(r => r.idempotency_key === data.idempotencyKey || r.idempotencyKey === data.idempotencyKey);\nreturn [{json:{...data, duplicateExists}}];"
      },
      "id": "23100000-0000-4000-8000-000000000039",
      "name": "Evaluate Delivery Ledger Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        20
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Creative Radar Setup Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Schedule (inactive until configured)": {
      "main": [
        [
          {
            "node": "Creative Radar Setup Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creative Radar Setup Form": {
      "main": [
        [
          {
            "node": "Ensure Creative Radar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Creative Radar Config": {
      "main": [
        [
          {
            "node": "Ensure Creative Radar Snapshots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Creative Radar Snapshots": {
      "main": [
        [
          {
            "node": "Ensure Creative Radar Deliveries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Creative Radar Deliveries": {
      "main": [
        [
          {
            "node": "Validate Setup and Build Actor Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Setup and Build Actor Inputs": {
      "main": [
        [
          {
            "node": "Upsert Creative Radar Config Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Meta Actor (fetch_cat/facebook-ads-library-scraper)": {
      "main": [
        [
          {
            "node": "Fetch Meta Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Google Actor (fetch_cat/google-ads-transparency-scraper)": {
      "main": [
        [
          {
            "node": "Fetch Google Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run TikTok Actor (fetch_cat/tiktok-ads-library-scraper)": {
      "main": [
        [
          {
            "node": "Fetch Tiktok Dataset Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Rows and Compare Snapshot": {
      "main": [
        [
          {
            "node": "Has Observed Rows?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Themes with OpenAI gpt-5.4-mini": {
      "main": [
        [
          {
            "node": "Render Evidence-linked Markdown Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Evidence-linked Markdown Brief": {
      "main": [
        [
          {
            "node": "Write Markdown Brief to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Markdown Brief to Google Drive": {
      "main": [
        [
          {
            "node": "Should Send Slack?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optional Slack Notification": {
      "main": [
        [
          {
            "node": "Commit Snapshot and Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Meta Dataset Items": {
      "main": [
        [
          {
            "node": "Annotate Meta Rows with Provenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Dataset Items": {
      "main": [
        [
          {
            "node": "Annotate Google Rows with Provenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tiktok Dataset Items": {
      "main": [
        [
          {
            "node": "Annotate Tiktok Rows with Provenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delivery Ledger Before Writes": {
      "main": [
        [
          {
            "node": "Evaluate Delivery Ledger Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Slack?": {
      "main": [
        [
          {
            "node": "Optional Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit Snapshot and Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Observed Rows?": {
      "main": [
        [
          {
            "node": "Check Delivery Ledger Before Writes",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Upsert Creative Radar Config Row": {
      "main": [
        [
          {
            "node": "Run Meta Actor (fetch_cat/facebook-ads-library-scraper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Annotate Meta Rows with Provenance": {
      "main": [
        [
          {
            "node": "Run Google Actor (fetch_cat/google-ads-transparency-scraper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Annotate Google Rows with Provenance": {
      "main": [
        [
          {
            "node": "Run TikTok Actor (fetch_cat/tiktok-ads-library-scraper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Annotate Tiktok Rows with Provenance": {
      "main": [
        [
          {
            "node": "Normalize Rows and Compare Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Prior Delivery?": {
      "main": [
        [
          {
            "node": "Classify Themes with OpenAI gpt-5.4-mini",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Commit Snapshot and Delivery Ledger": {
      "main": [
        [
          {
            "node": "Commit Creative Radar Snapshot Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Delivery Ledger Match": {
      "main": [
        [
          {
            "node": "No Prior Delivery?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {}
}
