workflows/reddit-buying-intent-alerts/workflow.json
{
  "name": "Reddit Buying-Intent Alerts",
  "nodes": [
    {
      "parameters": {},
      "id": "30000000-0000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "30000000-0000-0000-4000-8000-000000000002",
      "name": "Every Two Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1520,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Reddit Config"
        },
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "configKey",
              "condition": "eq",
              "keyValue": "default"
            }
          ]
        }
      },
      "id": "30000000-0000-0000-4000-8000-000000000003",
      "name": "Load Reddit Configuration",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1280,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first()?.json;\nif (!config) throw new Error('Add a default row to the FetchCat Reddit Config data table.');\nif (!config.searchQuery || String(config.searchQuery).length < 3) throw new Error('Configure a Reddit search query.');\nif (!config.productContext || String(config.productContext).length < 20) throw new Error('Product context must be at least 20 characters.');\nconst allowedSorts = new Set(['hot', 'new', 'top', 'rising', 'relevance']);\nconst allowedTimeFilters = new Set(['hour', 'day', 'week', 'month', 'year', 'all']);\nconst sort = allowedSorts.has(config.sort) ? config.sort : 'relevance';\nconst timeFilter = allowedTimeFilters.has(config.timeFilter) ? config.timeFilter : 'week';\nconst maxItems = Math.max(1, Math.min(Number(config.maxItems) || 10, 10));\nconst minimumScore = Math.max(0, Math.min(Number(config.minimumScore) || 70, 100));\nreturn [{ json: { config: { productContext: String(config.productContext), minimumScore }, actorInput: {\n  searchQuery: String(config.searchQuery),\n  searchSubreddit: String(config.subreddit || ''),\n  sort,\n  timeFilter,\n  maxPostsPerSource: maxItems,\n  includeComments: false\n} } }];"
      },
      "id": "30000000-0000-0000-4000-8000-000000000004",
      "name": "Build Actor Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": "DAj0KBMoCNDqMLe82",
          "cachedResultName": "Reddit Scraper"
        },
        "customBody": "={{ JSON.stringify($json.actorInput) }}",
        "timeout": 300,
        "memory": 1024,
        "build": "latest"
      },
      "id": "30000000-0000-0000-4000-8000-000000000005",
      "name": "Fetch Reddit Posts",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = [];\nfor (const item of $input.all()) {\n  const post = item.json;\n  if (post.type && String(post.type).toLowerCase() !== 'post') continue;\n  if (!post.id || !post.title) continue;\n  normalized.push({ json: {\n    redditId: String(post.id),\n    subreddit: String(post.subreddit || ''),\n    title: String(post.title),\n    text: String(post.text || post.selfText || post.body || '').slice(0, 8000),\n    author: String(post.author || ''),\n    url: String(post.url || post.permalink || ''),\n    createdAt: String(post.createdAt || ''),\n    score: Number(post.score || 0),\n    commentCount: Number(post.commentCount || 0)\n  } });\n  if (normalized.length === 10) break;\n}\nreturn normalized;"
      },
      "id": "30000000-0000-0000-4000-8000-000000000006",
      "name": "Normalize and Cap Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Delivery Ledger"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "workflowSlug",
              "condition": "eq",
              "keyValue": "reddit-buying-intent-alerts"
            },
            {
              "keyName": "itemKey",
              "condition": "eq",
              "keyValue": "={{ $json.redditId }}"
            }
          ]
        }
      },
      "id": "30000000-0000-0000-4000-8000-000000000007",
      "name": "Keep Undelivered Posts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all().map((item) => item.json);\nif (posts.length === 0) return [];\nreturn [{ json: { posts, redditIds: posts.map((post) => post.redditId) } }];"
      },
      "id": "30000000-0000-0000-4000-8000-000000000008",
      "name": "Build Reddit Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.4-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "user",
              "content": "=Product context:\n{{ $(\"Build Actor Input\").first().json.config.productContext }}\n\nMinimum score: {{ $(\"Build Actor Input\").first().json.config.minimumScore }}\n\nClassify every post exactly once and preserve each redditId:\n{{ JSON.stringify($json.posts) }}"
            }
          ]
        },
        "simplify": true,
        "builtInTools": {},
        "options": {
          "instructions": "Classify explicit buying intent and relevance. Return exactly one result for every supplied redditId and no others. Do not infer sensitive traits. Qualified means high or medium intent and score at or above the supplied minimum. Return the strict schema.",
          "maxTokens": 4000,
          "reasoning": {
            "reasoningOptions": {
              "effort": "low",
              "summary": "none"
            }
          },
          "store": false,
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "low",
              "name": "reddit_buying_intent_batch",
              "schema": "{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"results\"],\"properties\":{\"results\":{\"type\":\"array\",\"minItems\":1,\"maxItems\":10,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"redditId\",\"qualified\",\"buyingIntent\",\"score\",\"reason\",\"summary\"],\"properties\":{\"redditId\":{\"type\":\"string\",\"minLength\":1},\"qualified\":{\"type\":\"boolean\"},\"buyingIntent\":{\"type\":\"string\",\"enum\":[\"high\",\"medium\",\"low\",\"none\"]},\"score\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100},\"reason\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500},\"summary\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500}}}}}}",
              "description": "Classify explicit buying intent and relevance. Return exactly one result for every supplied redditId and no others. Do not infer sensitive traits. Qualified means high or medium intent and score at or above the supplied minimum. Return the strict schema.",
              "strict": true
            }
          }
        }
      },
      "id": "30000000-0000-0000-4000-8000-000000000009",
      "name": "Classify Reddit Batch",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction parseStructured(root, requiredKeys) {\n  const seen = new Set();\n  function visit(value) {\n    if (value === null || value === undefined) return null;\n    if (typeof value === 'string') {\n      const text = value.trim().replace(/^\\x60\\x60\\x60(?:json)?\\s*/i, '').replace(/\\s*\\x60\\x60\\x60$/, '');\n      if (!text.startsWith('{')) return null;\n      try { return visit(JSON.parse(text)); } catch { return null; }\n    }\n    if (typeof value !== 'object' || seen.has(value)) return null;\n    seen.add(value);\n    if (requiredKeys.every((key) => Object.prototype.hasOwnProperty.call(value, key))) return value;\n    const preferred = ['output_text', 'outputText', 'text', 'content', 'output', 'message', 'response', 'data'];\n    for (const key of preferred) {\n      if (Object.prototype.hasOwnProperty.call(value, key)) {\n        const found = visit(value[key]);\n        if (found) return found;\n      }\n    }\n    for (const nested of Array.isArray(value) ? value : Object.values(value)) {\n      const found = visit(nested);\n      if (found) return found;\n    }\n    return null;\n  }\n  return visit(root);\n}\n\nconst batch = $(\"Build Reddit Batch\").first().json;\nconst parsed = parseStructured($input.first().json, ['results']);\nif (!parsed || !Array.isArray(parsed.results)) throw new Error('OpenAI returned an invalid Reddit batch.');\nconst expectedIds = new Set(batch.redditIds);\nconst actualIds = parsed.results.map((result) => String(result.redditId));\nif (actualIds.length !== expectedIds.size || new Set(actualIds).size !== actualIds.length || actualIds.some((value) => !expectedIds.has(value))) throw new Error('OpenAI result IDs do not exactly match the Reddit input batch.');\nconst minimumScore = Number($(\"Build Actor Input\").first().json.config.minimumScore);\nconst intents = new Set(['high', 'medium', 'low', 'none']);\nconst byId = new Map(batch.posts.map((post) => [post.redditId, post]));\nconst qualifiedPosts = [];\nfor (const result of parsed.results) {\n  if (typeof result.qualified !== 'boolean' || !intents.has(result.buyingIntent) || !Number.isInteger(result.score) || result.score < 0 || result.score > 100 || typeof result.reason !== 'string' || !result.reason.trim() || typeof result.summary !== 'string' || !result.summary.trim()) throw new Error('OpenAI returned a malformed Reddit result.');\n  if (!result.qualified || !['high', 'medium'].includes(result.buyingIntent) || result.score < minimumScore) continue;\n  const post = byId.get(String(result.redditId));\n  qualifiedPosts.push({ redditId: post.redditId, subreddit: post.subreddit, title: post.title, url: post.url, createdAt: post.createdAt, redditScore: post.score, commentCount: post.commentCount, intent: result.buyingIntent, intentScore: result.score, reason: result.reason.trim(), summary: result.summary.trim() });\n}\nreturn [{ json: { allKeys: batch.redditIds, qualifiedPosts } }];"
      },
      "id": "30000000-0000-0000-4000-8000-000000000010",
      "name": "Validate Reddit Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.qualifiedPosts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "30000000-0000-0000-4000-8000-000000000011",
      "name": "Has Qualified Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const escapeHtml = (value) => String(value).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\nconst posts = $json.qualifiedPosts.sort((a, b) => b.intentScore - a.intentScore).slice(0, 5);\nif (posts.length === 0) return [];\nconst lines = posts.map((post, index) => {\n  const community = post.subreddit ? 'r/' + post.subreddit : 'Reddit';\n  const engagement = Number(post.redditScore || 0) + ' points | ' + Number(post.commentCount || 0) + ' comments';\n  const created = post.createdAt ? ' | ' + escapeHtml(post.createdAt) : '';\n  return (index + 1) + '. <b>' + escapeHtml(post.title) + '</b> [' + post.intent + ', ' + post.intentScore + '/100]\\n' + escapeHtml(community) + ' | ' + engagement + created + '\\n' + escapeHtml(post.summary) + '\\nWhy it matters: ' + escapeHtml(post.reason) + '\\n<a href=\"' + escapeHtml(post.url) + '\">Open Reddit post</a>';\n});\nreturn [{ json: { telegramMessage: '<b>Reddit Buying-Intent Alerts</b>\\n\\n' + lines.join('\\n\\n') } }];"
      },
      "id": "30000000-0000-0000-4000-8000-000000000012",
      "name": "Build Telegram Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "-1000000000000",
        "text": "={{ $json.telegramMessage }}",
        "replyMarkup": "none",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "parse_mode": "HTML"
        }
      },
      "id": "30000000-0000-0000-4000-8000-000000000013",
      "name": "Send Telegram Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Validate Reddit Batch').first().json.allKeys.map((itemKey) => ({ json: { workflowSlug: 'reddit-buying-intent-alerts', itemKey } }));"
      },
      "id": "30000000-0000-0000-4000-8000-000000000014",
      "name": "Prepare Delivery Ledger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        40
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Delivery Ledger"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "value": {
            "workflowSlug": "={{ $json.workflowSlug }}",
            "itemKey": "={{ $json.itemKey }}",
            "destination": "Telegram",
            "deliveredAt": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "workflowSlug",
              "displayName": "workflowSlug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "itemKey",
              "displayName": "itemKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deliveredAt",
              "displayName": "deliveredAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "30000000-0000-0000-4000-8000-000000000015",
      "name": "Commit Delivered Posts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1600,
        40
      ]
    },
    {
      "parameters": {
        "width": 900,
        "height": 270,
        "content": "## Reddit Buying-Intent Alerts\n\nEdit the `default` row in `FetchCat Reddit Config` to change search query, optional subreddit, sort, time window, product context, score threshold, or item limit. Connect Apify, OpenAI, and Telegram credentials, then select the destination group. Keep the schedule unpublished until QA passes.",
        "color": 7
      },
      "id": "30000000-0000-0000-4000-8000-000000000016",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        -440
      ]
    },
    {
      "parameters": {
        "width": 1040,
        "height": 270,
        "content": "## Monitoring and delivery\n\nComments are disabled and the workflow never contacts authors. One strict AI call classifies the batch. A Telegram digest contains at most five posts. IDs are written to `FetchCat Delivery Ledger` only after delivery succeeds; empty and fully delivered runs send nothing.",
        "color": 7
      },
      "id": "30000000-0000-0000-4000-8000-000000000017",
      "name": "Safety Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        -440
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Load Reddit Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Two Hours": {
      "main": [
        [
          {
            "node": "Load Reddit Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Reddit Configuration": {
      "main": [
        [
          {
            "node": "Build Actor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Actor Input": {
      "main": [
        [
          {
            "node": "Fetch Reddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reddit Posts": {
      "main": [
        [
          {
            "node": "Normalize and Cap Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Cap Posts": {
      "main": [
        [
          {
            "node": "Keep Undelivered Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Undelivered Posts": {
      "main": [
        [
          {
            "node": "Build Reddit Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reddit Batch": {
      "main": [
        [
          {
            "node": "Classify Reddit Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Reddit Batch": {
      "main": [
        [
          {
            "node": "Validate Reddit Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Reddit Batch": {
      "main": [
        [
          {
            "node": "Has Qualified Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Qualified Posts": {
      "main": [
        [
          {
            "node": "Build Telegram Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Digest": {
      "main": [
        [
          {
            "node": "Send Telegram Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Digest": {
      "main": [
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery Ledger": {
      "main": [
        [
          {
            "node": "Commit Delivered Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Lisbon",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
