workflows/youtube-research-brief-to-notion/workflow.json
{
  "name": "YouTube Research Brief to Notion",
  "nodes": [
    {
      "parameters": {
        "authentication": "none",
        "formTitle": "YouTube Research Brief",
        "formDescription": "Create a focused research brief from one public YouTube video.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "YouTube URL",
              "fieldName": "youtubeUrl",
              "fieldType": "text",
              "placeholder": "https://www.youtube.com/watch?v=...",
              "requiredField": true
            },
            {
              "fieldLabel": "Language",
              "fieldName": "language",
              "fieldType": "text",
              "defaultValue": "en",
              "placeholder": "en",
              "requiredField": true
            },
            {
              "fieldLabel": "Research goal",
              "fieldName": "researchGoal",
              "fieldType": "textarea",
              "placeholder": "What should the brief help you understand or decide?",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false,
          "path": "youtube-research-brief",
          "buttonLabel": "Create brief",
          "ignoreBots": true,
          "useWorkflowTimezone": true
        }
      },
      "id": "20000000-0000-0000-4000-8000-000000000001",
      "name": "YouTube Research Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -1160,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst youtubeUrl = String(input.youtubeUrl || input['YouTube URL'] || '').trim();\nconst language = String(input.language || input.Language || 'en').trim().toLowerCase();\nconst researchGoal = String(input.researchGoal || input['Research goal'] || '').trim();\nconst urlMatch = youtubeUrl.match(/^https:\\/\\/([^/?#]+)(?:[/?#]|$)/i);\nif (!urlMatch) throw new Error('Enter a valid public YouTube URL.');\nconst allowedHosts = new Set(['youtube.com', 'www.youtube.com', 'm.youtube.com', 'youtu.be']);\nif (!allowedHosts.has(urlMatch[1].toLowerCase())) throw new Error('Only public HTTPS YouTube URLs are accepted.');\nif (!/^[a-z]{2,3}(?:-[a-z]{2})?$/.test(language)) throw new Error('Language must be a short code such as en or pt-br.');\nif (researchGoal.length < 10 || researchGoal.length > 1000) throw new Error('Research goal must be 10 to 1000 characters.');\nreturn [{ json: {\n  youtubeUrl,\n  language,\n  researchGoal,\n  actorInput: {\n    videoUrls: [{ url: youtubeUrl }],\n    language,\n    includeTimestamps: true,\n    includeMetadata: true,\n    maxVideos: 1\n  }\n} }];"
      },
      "id": "20000000-0000-0000-4000-8000-000000000004",
      "name": "Validate Form Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -920,
        0
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "FetchCat Delivery Ledger",
        "columns": {
          "column": [
            {
              "name": "workflowSlug",
              "type": "string"
            },
            {
              "name": "itemKey",
              "type": "string"
            },
            {
              "name": "destination",
              "type": "string"
            },
            {
              "name": "deliveredAt",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "20000000-0000-0000-4000-8000-000000000018",
      "name": "Ensure Delivery Ledger",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -680,
        0
      ]
    },
    {
      "parameters": {
        "resource": "Actors",
        "operation": "Run actor and get dataset",
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": "H7e6sHWbYadmHLoNu",
          "cachedResultName": "YouTube Transcript Scraper"
        },
        "customBody": "={{ JSON.stringify($(\"Validate Form Input\").first().json.actorInput) }}",
        "timeout": 300,
        "memory": 1024,
        "build": "latest"
      },
      "id": "20000000-0000-0000-4000-8000-000000000005",
      "name": "Fetch YouTube Transcript",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nif (rows.length !== 1) throw new Error('Expected one transcript result, received ' + rows.length + '.');\nconst data = rows[0].json;\nif (data.captionsAvailable === false || data.error) throw new Error('Captions are unavailable: ' + (data.error || 'no captions found'));\nconst transcript = String(data.transcriptText || '').trim();\nif (transcript.length < 20) throw new Error('Captions are unavailable or empty for this video.');\nconst segments = Array.isArray(data.segments) ? data.segments.filter((segment) => Number.isFinite(Number(segment.start)) && String(segment.text || '').trim()) : [];\nif (segments.length < 3) throw new Error('Timestamped caption segments are unavailable for this video.');\nconst formatTimestamp = (seconds) => {\n  const total = Math.max(0, Math.floor(Number(seconds)));\n  const hours = Math.floor(total / 3600);\n  const minutes = Math.floor((total % 3600) / 60);\n  const remaining = total % 60;\n  return (hours ? String(hours).padStart(2, '0') + ':' : '') + String(minutes).padStart(2, '0') + ':' + String(remaining).padStart(2, '0');\n};\nconst timestampedTranscript = segments.map((segment) => '[' + formatTimestamp(segment.start) + '] ' + String(segment.text).trim()).join('\\n');\nconst researchGoal = $('Validate Form Input').first().json.researchGoal;\nreturn [{ json: {\n  videoId: String(data.videoId || ''),\n  videoUrl: String(data.videoUrl || $('Validate Form Input').first().json.youtubeUrl),\n  title: String(data.title || 'YouTube Research Brief'),\n  channelName: String(data.channelName || ''),\n  language: String(data.language || $('Validate Form Input').first().json.language),\n  duration: data.duration || null,\n  researchGoal,\n  dedupeKey: String(data.videoId || $('Validate Form Input').first().json.youtubeUrl) + '|' + researchGoal.trim().toLowerCase(),\n  transcript: timestampedTranscript.slice(0, 60000),\n  transcriptTruncated: timestampedTranscript.length > 60000\n} }];"
      },
      "id": "20000000-0000-0000-4000-8000-000000000006",
      "name": "Validate and Cap Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Delivery Ledger"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "workflowSlug",
              "condition": "eq",
              "keyValue": "youtube-research-brief-to-notion"
            },
            {
              "keyName": "itemKey",
              "condition": "eq",
              "keyValue": "={{ $json.dedupeKey }}"
            }
          ]
        }
      },
      "id": "20000000-0000-0000-4000-8000-000000000015",
      "name": "Keep Undelivered Requests",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.4-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "user",
              "content": "=Research goal:\n{{ $json.researchGoal }}\n\nVideo title: {{ $json.title }}\nChannel: {{ $json.channelName }}\n\nTranscript:\n{{ $json.transcript }}"
            }
          ]
        },
        "simplify": true,
        "builtInTools": {},
        "options": {
          "instructions": "Create a concise research brief grounded only in the timestamped transcript. Return at least three useful timestamped moments and copy each timestamp exactly from a transcript line. Return the strict schema.",
          "maxTokens": 3000,
          "reasoning": {
            "reasoningOptions": {
              "effort": "low",
              "summary": "none"
            }
          },
          "store": false,
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "low",
              "name": "youtube_research_brief",
              "schema": "{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"summary\",\"keyIdeas\",\"actionItems\",\"timestampedMoments\"],\"properties\":{\"summary\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":1800},\"keyIdeas\":{\"type\":\"array\",\"minItems\":5,\"maxItems\":5,\"items\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300}},\"actionItems\":{\"type\":\"array\",\"minItems\":5,\"maxItems\":5,\"items\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":300}},\"timestampedMoments\":{\"type\":\"array\",\"minItems\":5,\"maxItems\":5,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"timestamp\",\"title\",\"insight\"],\"properties\":{\"timestamp\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":20},\"title\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":200},\"insight\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500}}}}}}",
              "description": "Create a concise research brief grounded only in the timestamped transcript. Return at least three useful timestamped moments and copy each timestamp exactly from a transcript line. Return the strict schema.",
              "strict": true
            }
          }
        }
      },
      "id": "20000000-0000-0000-4000-8000-000000000007",
      "name": "Generate Research Brief",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        280,
        120
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 2,
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "id": "20000000-0000-0000-4000-8000-000000000008",
      "name": "Merge Transcript and Brief",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction parseStructured(root, requiredKeys) {\n  const seen = new Set();\n  function visit(value) {\n    if (value === null || value === undefined) return null;\n    if (typeof value === 'string') {\n      const text = value.trim().replace(/^\\x60\\x60\\x60(?:json)?\\s*/i, '').replace(/\\s*\\x60\\x60\\x60$/, '');\n      if (!text.startsWith('{')) return null;\n      try { return visit(JSON.parse(text)); } catch { return null; }\n    }\n    if (typeof value !== 'object' || seen.has(value)) return null;\n    seen.add(value);\n    if (requiredKeys.every((key) => Object.prototype.hasOwnProperty.call(value, key))) return value;\n    const preferred = ['output_text', 'outputText', 'text', 'content', 'output', 'message', 'response', 'data'];\n    for (const key of preferred) {\n      if (Object.prototype.hasOwnProperty.call(value, key)) {\n        const found = visit(value[key]);\n        if (found) return found;\n      }\n    }\n    for (const nested of Array.isArray(value) ? value : Object.values(value)) {\n      const found = visit(nested);\n      if (found) return found;\n    }\n    return null;\n  }\n  return visit(root);\n}\n\nconst item = $input.first().json;\nconst brief = parseStructured(item, ['summary', 'keyIdeas', 'actionItems', 'timestampedMoments']);\nif (!brief || typeof brief.summary !== 'string' || !Array.isArray(brief.keyIdeas) || !Array.isArray(brief.actionItems) || !Array.isArray(brief.timestampedMoments) || brief.timestampedMoments.length < 3) {\n  throw new Error('OpenAI returned an invalid research brief.');\n}\nfor (const moment of brief.timestampedMoments) {\n  if (!moment || typeof moment.timestamp !== 'string' || typeof moment.title !== 'string' || typeof moment.insight !== 'string') throw new Error('OpenAI returned an invalid timestamped moment.');\n  const timestamp = moment.timestamp.trim().replace(/^\\[/, '').replace(/\\]$/, '');\n  if (!item.transcript.includes('[' + timestamp + ']')) throw new Error('OpenAI returned a timestamp that is not present in the transcript: ' + moment.timestamp);\n  moment.timestamp = timestamp;\n}\nconst splitText = (value) => {\n  const chunks = [];\n  let remaining = String(value || '').trim();\n  while (remaining.length > 1900) {\n    let splitAt = remaining.lastIndexOf(' ', 1900);\n    if (splitAt < 1000) splitAt = 1900;\n    chunks.push(remaining.slice(0, splitAt).trim());\n    remaining = remaining.slice(splitAt).trim();\n  }\n  if (remaining) chunks.push(remaining);\n  return chunks;\n};\nconst notionBlocks = [];\nconst heading = (text) => notionBlocks.push({ type: 'heading_2', richText: false, textContent: text });\nconst paragraphs = (text) => splitText(text).forEach((chunk) => notionBlocks.push({ type: 'paragraph', richText: false, textContent: chunk }));\nnotionBlocks.push({ type: 'paragraph', richText: false, textContent: 'Source: ' + item.videoUrl });\nheading('Research goal');\nparagraphs(item.researchGoal);\nheading('Summary');\nparagraphs(brief.summary);\nheading('Key ideas');\nbrief.keyIdeas.forEach((idea) => notionBlocks.push({ type: 'bulleted_list_item', richText: false, textContent: idea }));\nheading('Action items');\nif (brief.actionItems.length) brief.actionItems.forEach((action) => notionBlocks.push({ type: 'bulleted_list_item', richText: false, textContent: action }));\nelse paragraphs('No action items identified.');\nheading('Timestamped moments');\nbrief.timestampedMoments.slice(0, 5).forEach((moment) => notionBlocks.push({ type: 'bulleted_list_item', richText: false, textContent: moment.timestamp + ' - ' + moment.title + ': ' + moment.insight }));\nif (notionBlocks.length > 100) throw new Error('Formatted Notion brief requires too many blocks.');\nreturn [{ json: { title: item.title, videoUrl: item.videoUrl, notionBlocks } }];"
      },
      "id": "20000000-0000-0000-4000-8000-000000000009",
      "name": "Validate and Format Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "00000000-0000-0000-0000-000000000000"
        },
        "title": "={{ $json.title }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": []
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[0].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[1].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[2].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[3].textContent }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[4].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[5].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[6].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[7].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[8].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[9].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[10].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[11].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[12].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[13].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[14].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[15].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[16].textContent }}"
            },
            {
              "type": "heading_2",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[17].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[18].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[19].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[20].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[21].textContent }}"
            },
            {
              "type": "bulleted_list_item",
              "richText": false,
              "textContent": "={{ $json.notionBlocks[22].textContent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20000000-0000-0000-4000-8000-000000000010",
      "name": "Create Notion Brief",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { workflowSlug: 'youtube-research-brief-to-notion', itemKey: $('Validate and Cap Transcript').first().json.dedupeKey } }];"
      },
      "id": "20000000-0000-0000-4000-8000-000000000016",
      "name": "Prepare Delivery Ledger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Delivery Ledger"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "value": {
            "workflowSlug": "={{ $json.workflowSlug }}",
            "itemKey": "={{ $json.itemKey }}",
            "destination": "Notion",
            "deliveredAt": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "workflowSlug",
              "displayName": "workflowSlug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "itemKey",
              "displayName": "itemKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deliveredAt",
              "displayName": "deliveredAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "20000000-0000-0000-4000-8000-000000000017",
      "name": "Commit Delivered Brief",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const page = $('Create Notion Brief').first().json;\nif (!page.url || !String(page.url).startsWith('https://')) throw new Error('Notion did not return a page URL.');\nreturn [{ json: { url: page.url, formSubmittedText: 'Research brief created: ' + page.url } }];"
      },
      "id": "20000000-0000-0000-4000-8000-000000000011",
      "name": "Return Notion URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        0
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $json.url }}",
        "options": {
          "formTitle": "Research brief ready"
        }
      },
      "id": "20000000-0000-0000-4000-8000-000000000019",
      "name": "Open Notion Brief",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1960,
        0
      ]
    },
    {
      "parameters": {
        "width": 760,
        "height": 250,
        "content": "## YouTube Research Brief\n\nConnect Apify, OpenAI, and Notion credentials, then select the `FetchCat n8n QA Briefs` database. The form accepts one public HTTPS YouTube URL, language code, and research goal. Keep the workflow unpublished during QA.",
        "color": 7
      },
      "id": "20000000-0000-0000-4000-8000-000000000012",
      "name": "Form Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        -440
      ]
    },
    {
      "parameters": {
        "width": 900,
        "height": 250,
        "content": "## Cost and failure controls\n\nThe delivery ledger is created automatically. The Actor receives exactly one video. Empty or unavailable captions stop the workflow before OpenAI and Notion, and transcript input is capped at 60,000 characters.",
        "color": 7
      },
      "id": "20000000-0000-0000-4000-8000-000000000013",
      "name": "Safety Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -440
      ]
    },
    {
      "parameters": {
        "width": 1080,
        "height": 250,
        "content": "## Notion output\n\nThe delivery ledger is checked before OpenAI. A request is committed only after Notion creates the page successfully, so failed destination writes remain retryable. OpenAI must satisfy a strict schema. The page contains real headings, key ideas, action items, and timestamped moments.",
        "color": 7
      },
      "id": "20000000-0000-0000-4000-8000-000000000014",
      "name": "Output Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        -440
      ]
    }
  ],
  "connections": {
    "YouTube Research Form": {
      "main": [
        [
          {
            "node": "Validate Form Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Form Input": {
      "main": [
        [
          {
            "node": "Ensure Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Delivery Ledger": {
      "main": [
        [
          {
            "node": "Fetch YouTube Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch YouTube Transcript": {
      "main": [
        [
          {
            "node": "Validate and Cap Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Cap Transcript": {
      "main": [
        [
          {
            "node": "Keep Undelivered Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Undelivered Requests": {
      "main": [
        [
          {
            "node": "Merge Transcript and Brief",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Research Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Research Brief": {
      "main": [
        [
          {
            "node": "Merge Transcript and Brief",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Transcript and Brief": {
      "main": [
        [
          {
            "node": "Validate and Format Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Format Brief": {
      "main": [
        [
          {
            "node": "Create Notion Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Brief": {
      "main": [
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery Ledger": {
      "main": [
        [
          {
            "node": "Commit Delivered Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Delivered Brief": {
      "main": [
        [
          {
            "node": "Return Notion URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Notion URL": {
      "main": [
        [
          {
            "node": "Open Notion Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Lisbon",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
