workflows/linkedin-job-match-digest/workflow.json
{
  "name": "LinkedIn Job Match Digest",
  "nodes": [
    {
      "parameters": {},
      "id": "10000000-0000-0000-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        80
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 12,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000002",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1520,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "FetchCat Delivery Ledger",
        "columns": {
          "column": [
            {
              "name": "workflowSlug",
              "type": "string"
            },
            {
              "name": "itemKey",
              "type": "string"
            },
            {
              "name": "destination",
              "type": "string"
            },
            {
              "name": "deliveredAt",
              "type": "date"
            }
          ]
        },
        "options": {
          "createIfNotExists": true
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000020",
      "name": "Ensure Delivery Ledger",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1280,
        0
      ]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "linkedin-keywords",
              "name": "keywords",
              "value": "automation engineer, workflow automation",
              "type": "string"
            },
            {
              "id": "linkedin-location",
              "name": "location",
              "value": "Remote",
              "type": "string"
            },
            {
              "id": "linkedin-profile",
              "name": "candidateProfile",
              "value": "Senior automation engineer with n8n, JavaScript, APIs, and data pipeline experience.",
              "type": "string"
            },
            {
              "id": "linkedin-score",
              "name": "minimumScore",
              "value": 70,
              "type": "number"
            },
            {
              "id": "linkedin-limit",
              "name": "maxItems",
              "value": 10,
              "type": "number"
            },
            {
              "id": "linkedin-destination",
              "name": "deliveryDestination",
              "value": "slack",
              "type": "string"
            },
            {
              "id": "linkedin-email",
              "name": "gmailRecipient",
              "value": "YOUR_GMAIL_RECIPIENT",
              "type": "string"
            },
            {
              "id": "linkedin-chat",
              "name": "telegramChatId",
              "value": "YOUR_TELEGRAM_CHAT_ID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "10000000-0000-0000-4000-8000-000000000021",
      "name": "Edit Search Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first()?.json;\nif (!config) throw new Error('Configure the Edit Search Settings node.');\nconst keywords = String(config.keywords || '').split(',').map((value) => value.trim()).filter(Boolean);\nif (keywords.length === 0) throw new Error('Configure at least one comma-separated job keyword.');\nconst candidateProfile = String(config.candidateProfile || '').trim();\nif (candidateProfile.length < 20) throw new Error('Candidate profile must be at least 20 characters.');\nconst minimumScore = Math.max(0, Math.min(Number(config.minimumScore) || 70, 100));\nconst maxItems = Math.max(1, Math.min(Number(config.maxItems) || 10, 10));\nconst deliveryDestination = String(config.deliveryDestination || '').trim();\nif (!['slack', 'gmail', 'telegram', 'googleSheets', 'notion'].includes(deliveryDestination)) throw new Error('deliveryDestination must be slack, gmail, telegram, googleSheets, or notion.');\nreturn [{ json: { config: { candidateProfile, minimumScore, deliveryDestination, gmailRecipient: String(config.gmailRecipient || ''), telegramChatId: String(config.telegramChatId || '') }, actorInput: {\n  keywords,\n  location: String(config.location || 'Remote'),\n  maxItems,\n  includeDetails: true,\n  datePosted: 'past24h',\n  sortBy: 'recent'\n} } }];"
      },
      "id": "10000000-0000-0000-4000-8000-000000000004",
      "name": "Build Actor Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/0XhGPLTjZjicBXYV5/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "clean",
              "value": "true"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "timeout",
              "value": "300"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.actorInput) }}",
        "options": {
          "timeout": 310000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000005",
      "name": "Fetch LinkedIn Jobs from Apify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = [];\nfor (const item of $input.all().slice(0, 10)) {\n  const job = item.json;\n  const title = String(job.title || '').trim();\n  const invalidTitles = new Set(['delete account', 'sign in', 'join now', 'linkedin']);\n  if (!job.jobId || !title || !job.jobUrl || invalidTitles.has(title.toLowerCase())) continue;\n  normalized.push({ json: {\n    jobId: String(job.jobId),\n    title,\n    companyName: String(job.companyName || 'Unknown company'),\n    location: String(job.location || 'Not specified'),\n    postedAtText: String(job.postedAtText || ''),\n    scrapedAt: String(job.scrapedAt || ''),\n    jobUrl: String(job.jobUrl),\n    description: String(job.description || '').slice(0, 12000),\n    employmentType: String(job.employmentType || ''),\n    seniorityLevel: String(job.seniorityLevel || ''),\n    applicantsText: String(job.applicantsText || '')\n  } });\n}\nreturn normalized;"
      },
      "id": "10000000-0000-0000-4000-8000-000000000006",
      "name": "Normalize and Cap Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Delivery Ledger"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "workflowSlug",
              "condition": "eq",
              "keyValue": "linkedin-job-match-digest"
            },
            {
              "keyName": "itemKey",
              "condition": "eq",
              "keyValue": "={{ $json.jobId }}"
            }
          ]
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000007",
      "name": "Keep Undelivered Jobs",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all().map((item) => item.json);\nif (jobs.length === 0) return [];\nreturn [{ json: { jobs, jobIds: jobs.map((job) => job.jobId) } }];"
      },
      "id": "10000000-0000-0000-4000-8000-000000000008",
      "name": "Build Job Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "response",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.4-mini"
        },
        "responses": {
          "values": [
            {
              "type": "text",
              "role": "user",
              "content": "=Candidate profile:\n{{ $(\"Build Actor Input\").first().json.config.candidateProfile }}\n\nMinimum score: {{ $(\"Build Actor Input\").first().json.config.minimumScore }}\n\nEvaluate every job exactly once and preserve each jobId:\n{{ JSON.stringify($json.jobs) }}"
            }
          ]
        },
        "simplify": true,
        "builtInTools": {},
        "options": {
          "instructions": "Score every job against the candidate profile. Return exactly one result for every supplied jobId and no others. Set qualified true only when score meets the supplied minimum and fit is credible. Every reason must be English. Return the strict schema.",
          "maxTokens": 4000,
          "reasoning": {
            "reasoningOptions": {
              "effort": "low",
              "summary": "none"
            }
          },
          "store": false,
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "low",
              "name": "linkedin_job_fit_batch",
              "schema": "{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"results\"],\"properties\":{\"results\":{\"type\":\"array\",\"minItems\":1,\"maxItems\":10,\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"required\":[\"jobId\",\"qualified\",\"score\",\"reason\"],\"properties\":{\"jobId\":{\"type\":\"string\",\"minLength\":1},\"qualified\":{\"type\":\"boolean\"},\"score\":{\"type\":\"integer\",\"minimum\":0,\"maximum\":100},\"reason\":{\"type\":\"string\",\"minLength\":1,\"maxLength\":500}}}}}}",
              "description": "Score every job against the candidate profile. Return exactly one result for every supplied jobId and no others. Set qualified true only when score meets the supplied minimum and fit is credible. Every reason must be English. Return the strict schema.",
              "strict": true
            }
          }
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000009",
      "name": "Score Job Batch",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction parseStructured(root, requiredKeys) {\n  const seen = new Set();\n  function visit(value) {\n    if (value === null || value === undefined) return null;\n    if (typeof value === 'string') {\n      const text = value.trim().replace(/^\\x60\\x60\\x60(?:json)?\\s*/i, '').replace(/\\s*\\x60\\x60\\x60$/, '');\n      if (!text.startsWith('{')) return null;\n      try { return visit(JSON.parse(text)); } catch { return null; }\n    }\n    if (typeof value !== 'object' || seen.has(value)) return null;\n    seen.add(value);\n    if (requiredKeys.every((key) => Object.prototype.hasOwnProperty.call(value, key))) return value;\n    const preferred = ['output_text', 'outputText', 'text', 'content', 'output', 'message', 'response', 'data'];\n    for (const key of preferred) {\n      if (Object.prototype.hasOwnProperty.call(value, key)) {\n        const found = visit(value[key]);\n        if (found) return found;\n      }\n    }\n    for (const nested of Array.isArray(value) ? value : Object.values(value)) {\n      const found = visit(nested);\n      if (found) return found;\n    }\n    return null;\n  }\n  return visit(root);\n}\n\nconst batch = $(\"Build Job Batch\").first().json;\nconst parsed = parseStructured($input.first().json, ['results']);\nif (!parsed || !Array.isArray(parsed.results)) throw new Error('OpenAI returned an invalid LinkedIn batch.');\nconst expectedIds = new Set(batch.jobIds);\nconst actualIds = parsed.results.map((result) => String(result.jobId));\nif (actualIds.length !== expectedIds.size || new Set(actualIds).size !== actualIds.length || actualIds.some((value) => !expectedIds.has(value))) throw new Error('OpenAI result IDs do not exactly match the LinkedIn input batch.');\nconst minimumScore = Number($(\"Build Actor Input\").first().json.config.minimumScore);\nconst byId = new Map(batch.jobs.map((job) => [job.jobId, job]));\nconst sheetsEpochOffset = 25569;\nconst toSheetsSerial = (date) => date.getTime() / 86400000 + sheetsEpochOffset;\nconst parsePostedAt = (text, reference) => {\n  const value = String(text || '').trim().toLowerCase();\n  const date = new Date(reference);\n  if (!Number.isFinite(date.getTime())) return null;\n  const match = value.match(/(\\d+)\\s+(minute|hour|day|week|month)s?\\s+ago/);\n  if (match) {\n    const unitDays = { minute: 1 / 1440, hour: 1 / 24, day: 1, week: 7, month: 30 };\n    date.setTime(date.getTime() - Number(match[1]) * unitDays[match[2]] * 86400000);\n  } else if (!value.includes('today') && !value.includes('just now')) {\n    const absolute = new Date(text);\n    if (!Number.isFinite(absolute.getTime())) return null;\n    date.setTime(absolute.getTime());\n  }\n  return toSheetsSerial(date);\n};\nconst qualifiedJobs = [];\nfor (const result of parsed.results) {\n  if (typeof result.qualified !== 'boolean' || !Number.isInteger(result.score) || result.score < 0 || result.score > 100 || typeof result.reason !== 'string' || !result.reason.trim()) throw new Error('OpenAI returned a malformed LinkedIn result.');\n  if (!result.qualified || result.score < minimumScore) continue;\n  const job = byId.get(String(result.jobId));\n  const collected = new Date(job.scrapedAt || Date.now());\n  const url = String(job.jobUrl);\n  qualifiedJobs.push({ title: job.title, company: job.companyName, location: job.location, postedAt: parsePostedAt(job.postedAtText, collected), postedRelative: job.postedAtText, jobLink: '=HYPERLINK(\"' + url.replace(/\"/g, '\"\"') + '\",\"Open job\")', url, score: result.score, reason: result.reason.trim(), collectedAt: toSheetsSerial(collected), linkedInJobId: job.jobId });\n}\nreturn [{ json: { allKeys: batch.jobIds, qualifiedJobs } }];"
      },
      "id": "10000000-0000-0000-4000-8000-000000000010",
      "name": "Validate Job Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.qualifiedJobs.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10000000-0000-0000-4000-8000-000000000011",
      "name": "Has Qualified Jobs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const qualifiedJobs = $('Validate Job Batch').first().json.qualifiedJobs;\nconst jobs = [...qualifiedJobs].sort((a, b) => b.score - a.score).slice(0, 5);\nif (jobs.length === 0) return [];\nconst escapeHtml = (value) => String(value ?? '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\"/g, '&quot;');\nconst slackLines = jobs.map((job, index) => (index + 1) + '. *' + job.title + '* at ' + job.company + ' (' + job.score + '/100)\\n' + job.location + ' | Posted ' + job.postedRelative + '\\n' + job.reason + '\\n' + job.url);\nconst htmlLines = jobs.map((job, index) => '<p><strong>' + (index + 1) + '. ' + escapeHtml(job.title) + '</strong> at ' + escapeHtml(job.company) + ' (' + job.score + '/100)<br>' + escapeHtml(job.location) + ' | Posted ' + escapeHtml(job.postedRelative) + '<br>' + escapeHtml(job.reason) + '<br><a href=\"' + escapeHtml(job.url) + '\">Open job</a></p>');\nconst telegramLines = jobs.map((job, index) => '<b>' + (index + 1) + '. ' + escapeHtml(job.title) + '</b> at ' + escapeHtml(job.company) + ' (' + job.score + '/100)\\n' + escapeHtml(job.location) + ' | Posted ' + escapeHtml(job.postedRelative) + '\\n' + escapeHtml(job.reason) + '\\n<a href=\"' + escapeHtml(job.url) + '\">Open job</a>');\nreturn [{ json: {\n  qualifiedJobs,\n  deliveryDestination: $('Build Actor Input').first().json.config.deliveryDestination,\n  slackMessage: '*LinkedIn Job Match Digest*\\n\\n' + slackLines.join('\\n\\n'),\n  gmailHtml: '<h2>LinkedIn Job Match Digest</h2>' + htmlLines.join(''),\n  telegramMessage: '<b>LinkedIn Job Match Digest</b>\\n\\n' + telegramLines.join('\\n\\n')\n} }];"
      },
      "id": "10000000-0000-0000-4000-8000-000000000012",
      "name": "Build Destination Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000002",
              "leftValue": "={{ $json.deliveryDestination }}",
              "rightValue": "slack",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10000000-0000-0000-4000-8000-000000000022",
      "name": "Is Slack Destination",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000002",
              "leftValue": "={{ $json.deliveryDestination }}",
              "rightValue": "gmail",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10000000-0000-0000-4000-8000-000000000023",
      "name": "Is Gmail Destination",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000002",
              "leftValue": "={{ $json.deliveryDestination }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10000000-0000-0000-4000-8000-000000000024",
      "name": "Is Telegram Destination",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2560,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-4000-8000-000000000002",
              "leftValue": "={{ $json.deliveryDestination }}",
              "rightValue": "googleSheets",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10000000-0000-0000-4000-8000-000000000025",
      "name": "Is Google Sheets Destination",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.qualifiedJobs.map((job) => ({ json: job }));"
      },
      "id": "10000000-0000-0000-4000-8000-000000000026",
      "name": "Expand Jobs for Google Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return $json.qualifiedJobs.map((job) => ({ json: job }));"
      },
      "id": "10000000-0000-0000-4000-8000-000000000031",
      "name": "Expand Jobs for Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        500
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "0000000000000000000000000000000000000000000"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "0",
          "cachedResultName": "Jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "linkedInJobId"
          ],
          "value": {
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "location": "={{ $json.location }}",
            "postedAt": "={{ $json.postedAt }}",
            "jobLink": "={{ $json.jobLink }}",
            "score": "={{ $json.score }}",
            "reason": "={{ $json.reason }}",
            "collectedAt": "={{ $json.collectedAt }}",
            "linkedInJobId": "={{ $json.linkedInJobId }}"
          },
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postedAt",
              "displayName": "postedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "jobLink",
              "displayName": "jobLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "collectedAt",
              "displayName": "collectedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedInJobId",
              "displayName": "linkedInJobId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000013",
      "name": "Upsert Qualified Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3280,
        320
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0000000000"
        },
        "messageType": "text",
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000015",
      "name": "Send Slack Digest",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        2320,
        -240
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Build Actor Input\").first().json.config.gmailRecipient }}",
        "subject": "=LinkedIn Job Match Digest - {{ $now.format(\"dd MMM yyyy\") }}",
        "emailType": "html",
        "message": "={{ $json.gmailHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000027",
      "name": "Send Gmail Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2560,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $(\"Build Actor Input\").first().json.config.telegramChatId }}",
        "text": "={{ $json.telegramMessage }}",
        "replyMarkup": "none",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": false,
          "parse_mode": "HTML"
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000028",
      "name": "Send Telegram Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2800,
        40
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "00000000-0000-0000-0000-000000000000"
        },
        "title": "={{ $json.title + \" - \" + $json.company }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": []
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ \"Score: \" + $json.score + \"/100\" }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ \"Location: \" + $json.location }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.reason }}"
            },
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "10000000-0000-0000-4000-8000-000000000029",
      "name": "Create Notion Job Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3280,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return $('Validate Job Batch').first().json.allKeys.map((itemKey) => ({ json: { workflowSlug: 'linkedin-job-match-digest', itemKey } }));"
      },
      "id": "10000000-0000-0000-4000-8000-000000000016",
      "name": "Prepare Delivery Ledger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        40
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "FetchCat Delivery Ledger"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "value": {
            "workflowSlug": "={{ $json.workflowSlug }}",
            "itemKey": "={{ $json.itemKey }}",
            "destination": "={{ $(\"Build Actor Input\").first().json.config.deliveryDestination }}",
            "deliveredAt": "={{ $now.toISO() }}"
          },
          "schema": [
            {
              "id": "workflowSlug",
              "displayName": "workflowSlug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "itemKey",
              "displayName": "itemKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deliveredAt",
              "displayName": "deliveredAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "10000000-0000-0000-4000-8000-000000000017",
      "name": "Commit Delivered Jobs",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3760,
        40
      ]
    },
    {
      "parameters": {
        "width": 1200,
        "height": 440,
        "content": "## Score LinkedIn jobs and deliver a daily digest\n\nFind newly posted LinkedIn jobs, score them against a candidate profile in one structured OpenAI request, and deliver qualified matches to one selected destination: Slack, Gmail, Telegram, Google Sheets, or Notion. This template runs on both n8n Cloud and self-hosted n8n using only built-in n8n nodes plus the OpenAI node.\n\n### How it works\n\nThe workflow reads all user settings from one visible Edit Search Settings node and creates its delivery ledger automatically. It calls the FetchCat LinkedIn Jobs Scraper through Apify's HTTPS API for up to 10 jobs from the past 24 hours, rejects invalid records, skips delivered LinkedIn job IDs, and validates the complete AI response. Only the chosen destination branch runs. IDs enter the ledger after that destination succeeds, so outages remain retryable.\n\n### Setup\n\nEdit keywords, location, candidate profile, score threshold, item limit, and deliveryDestination in Edit Search Settings. Create an Apify HTTP Header Auth credential with header `Authorization` and value `Bearer YOUR_APIFY_TOKEN`, connect OpenAI, then configure credentials and identifiers only for the selected destination node.\n\n### Customization\n\nAdjust the schedule or any search value in Edit Search Settings. Use exactly one of: `slack`, `gmail`, `telegram`, `googleSheets`, or `notion`. Keep the maximum at 10 to preserve the included cost controls.",
        "color": 1
      },
      "id": "10000000-0000-0000-4000-8000-000000000018",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        -980
      ]
    },
    {
      "parameters": {
        "width": 1100,
        "height": 270,
        "content": "## Setup and configuration\n\nEdit search values and choose one deliveryDestination in Edit Search Settings. Connect Apify and OpenAI, then configure only the selected Slack, Gmail, Telegram, Google Sheets, or Notion destination node.",
        "color": 7
      },
      "id": "10000000-0000-0000-4000-8000-000000000019",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -440
      ]
    },
    {
      "parameters": {
        "width": 1040,
        "height": 270,
        "content": "## Transaction-aware delivery\n\nOne strict AI call scores the full batch and only one destination branch runs. IDs are committed after that destination succeeds, so empty, duplicate, and failed-delivery runs remain safe.",
        "color": 7
      },
      "id": "10000000-0000-0000-4000-8000-000000000030",
      "name": "Delivery Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        -440
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Ensure Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Ensure Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Delivery Ledger": {
      "main": [
        [
          {
            "node": "Edit Search Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Search Settings": {
      "main": [
        [
          {
            "node": "Build Actor Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Actor Input": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Jobs from Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Jobs from Apify": {
      "main": [
        [
          {
            "node": "Normalize and Cap Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Cap Jobs": {
      "main": [
        [
          {
            "node": "Keep Undelivered Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep Undelivered Jobs": {
      "main": [
        [
          {
            "node": "Build Job Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Job Batch": {
      "main": [
        [
          {
            "node": "Score Job Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Job Batch": {
      "main": [
        [
          {
            "node": "Validate Job Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Job Batch": {
      "main": [
        [
          {
            "node": "Has Qualified Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Qualified Jobs": {
      "main": [
        [
          {
            "node": "Build Destination Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Destination Payload": {
      "main": [
        [
          {
            "node": "Is Slack Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Slack Destination": {
      "main": [
        [
          {
            "node": "Send Slack Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Gmail Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Gmail Destination": {
      "main": [
        [
          {
            "node": "Send Gmail Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Telegram Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Telegram Destination": {
      "main": [
        [
          {
            "node": "Send Telegram Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Google Sheets Destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Google Sheets Destination": {
      "main": [
        [
          {
            "node": "Expand Jobs for Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expand Jobs for Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Jobs for Google Sheets": {
      "main": [
        [
          {
            "node": "Upsert Qualified Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Jobs for Notion": {
      "main": [
        [
          {
            "node": "Create Notion Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Digest": {
      "main": [
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail Digest": {
      "main": [
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Digest": {
      "main": [
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Qualified Jobs": {
      "main": [
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Job Page": {
      "main": [
        [
          {
            "node": "Prepare Delivery Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery Ledger": {
      "main": [
        [
          {
            "node": "Commit Delivered Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Lisbon",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
